@import 'variables.scss';
.supportheader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px 15px;
    margin: 0px 0;
    height: 62px;
    background-color:  $static-page-bg;
    z-index: 9;
    img{
        max-width: 140px;
    }
    @include breakpoint (mobile){
        display: none;
    }
}
.supportMain {
    width: 1000px;
    display: flex;
    height: 550px;
    margin: 102px auto 0px;
    overflow: hidden;
    @include breakpoint(tablet-portrait) {
       width: 100%;
       margin: 0;
    }
    .content{
        // padding: 20px;
        overflow: hidden;
        background: $static-page-bg;
        width: calc(100% - 291px);
        margin-left: auto;
        height: 100%;
        border-radius: $border-radius;
        border: 1px solid hsla(0,0%,100%,.08);
        @include breakpoint(mac){width: calc(100% - 270px);}
        @include breakpoint(tablet-portrait) {
        background:$static-page-mobile-bg;
          width: 100%;
          padding: 0px;
          
        }
        .topNav{
            display: none;
            position: relative;
            width: 100%;
            height: 75px;
            line-height: 75px;
            background: $static-mobile-header-bg;
            padding-left: 15px;
            z-index: 9;
            box-shadow: 0 0 4px 0 rgb(0 0 0 / 28%);
            @include breakpoint(tablet-portrait) {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: fixed;
              }
              @include breakpoint(mobile){height: 56px; line-height: 56px;}
              h1 {
                font-size: 26px;
                font-weight: 400;
                text-transform: uppercase;
                color: $text-color;
                padding: 0 20px 0 0px;
                margin-top: 0;
                position: relative;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
                @include breakpoint(mobile){font-size: 20px; }
                @include breakpoint(mobile-common-land){font-size: 18px;}
                img{
                    width: 22px;
                    margin-right: 15px;
                }
              }
        }
        .staticPage{height: 99%; padding: 20px;
            iframe{
                border: 0; margin: 0;
            }
        }
    }
    .sideBar {
        min-width: 250px;
        background: $static-sidebar-bg;
        border-radius: $border-radius;
        overflow: hidden;
        z-index: 1;
        border: 1px solid hsla(0,0%,100%,.08);
        @include breakpoint(tablet-portrait) {
            display: none;
        }
        .sideBarLeft{
            position: relative;
            .back_home{font-size: 12px;
                cursor: pointer;
                color: $white-color;
                display: block;
                text-decoration: none;
                // position: absolute;
                z-index: 1;
                position: relative;
                padding: 15px 20px 0 40px;
                top: 0;
                left: 0;
                background: #282828;
                img {
                    height: 15px;
                    width: 15px;
                    margin-right: 5px;
                    vertical-align: middle;
                    height: 10px;
                    position: absolute;
                    top: 14px;
                    bottom: 0;
                    margin: auto;
                    left: 10px;
                }
                
            }
            h1{
                color: $text-color;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
                // height: 78px;
                // line-height: 83px;
                padding: 5px 10px 10px 20px;
                border-radius: 4px 0 0 0;
                margin: 0;
                background:$sidebar-header-bg;
            }
        }
        .sideBar_menus{
            height: 60vh;
            overflow-y: scroll;
            margin-top: 5px;
        }
        .sideBar_menus::-webkit-scrollbar {
            width: 6px;
            border-radius: 20px;
          }
          
          /* Track */
          .sideBar_menus::-webkit-scrollbar-track {
            background: #141414; 
            border-radius: 20px;
          }
           
          /* Handle */
          .sideBar_menus::-webkit-scrollbar-thumb {
            background: #444444; 
            border-radius: 20px;
          }
          
        button{text-align: left; text-transform: capitalize; font-family: $font-family-primary; font-weight: normal;}
    }
}
