@import "variables.scss";
.modal_dialog {
  max-width: 560px;
  width: 100% !important;
  margin: 0 auto;
  @include breakpoint(mac) {
    max-width: 500px;
    width: 100% !important;
  }
  @include breakpoint(mobile) {
    padding: 0 20px;
  }
  .modal_size {
    width: 100% !important;
    overflow: hidden;
    background: $popup-bg;
    color: #9ea2b4;
    padding: 65px 40px 50px;

    @include breakpoint(mac) {
      padding: 60px 36px 50px;
    }
    @include breakpoint(mobile) {
      padding: 31px 15px 32px;
    }
    .topImgContainer {
      text-align: center;
      .topImg {
        width: 100px;
      }
    }
    h2 {
      padding: 0;
    }
    .title {
      .cross_icon {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 20px;
        @include breakpoint(mobile) {
          right: 17px;
        }
        &:hover {
          text-decoration: none !important;
        }
      }

      .popup_title {
        h5 {
          color: $text-color;
          font-size: 28px;
          font-weight: 400;
          margin: 16px 0 4px;
          text-align: center;
          font-family: $font-family-primary;
          @include breakpoint(mac) {
            font-size: 24px;
          }
          @include breakpoint(mobile-common-land) {
            font-size: 19px;
          }
        }
      }
      .imgBlock {
        text-align: center;
        img {
          width: 46px;
        }
      }
    }
    .subTitle {
      font-size: 20px;
      opacity: 0.8;
      text-align: center;
      margin-top: 20px;
      font-weight: 300;
      color: $text-color;
      margin-bottom: 8px;
      @include breakpoint(mac) {
        font-size: 18px;
      }
      @include breakpoint(tablet) {
        font-size: 17px;
      }
      @include breakpoint(mobile-small) {
        font-size: 16px;
      }
      @include breakpoint(mobile-common) {
        font-size: 14px;
      }
    }
    .popupText {
      .warning {
        text-align: center;
        color: $text-color;
        font-size: 16px;
      }
      .Des {
        text-align: center;
        color: $text-color;
        font-size: 14px;
        margin-top: 10px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(mobile) {
        margin-top: 0;
      }
      .btn_inner {
        padding: 0;
        .continue_btn,
        .cancel {
          margin-left: 20px;
          height: 44px;
          padding: 10px;
          width: 160px;
          border-radius: 2px;
          font-size: 16px;
          margin-top: 50px;
          &:first-child {
            margin-left: 0;
          }
          @include breakpoint(mac) {
            font-size: 14px;
            width: 112px;
          }
          @include breakpoint(mobile) {
            margin-top: 0;
          }
          @include breakpoint(mobile-big-land) {
            font-size: 12px;
            width: 100px;
            margin-left: 10px;
          }
          @include breakpoint(mobile-common-land) {
            margin-top: 30px;
          }

          &.ok {
            height: 46px;
            width: 190px;
            padding: 5px;
            font-size: 16px;
            margin: 48px 10px 0;
            @include breakpoint(mac) {
              width: 178px;
            }
            @include breakpoint(laptop) {
              width: 170px;
              height: 42px;
              margin-top: 40px;
              font-size: 14px;
            }
            @include breakpoint(mobile) {
              width: 140px !important;
              height: 36px;
              margin: 26px 26px 0;
            }
          }
        }
        // .cancel {margin-left: 20px ;}
      }
    }
  }
}

