@import 'variables.scss';



.signin_cont_page{ width:100%; min-height:100vh; margin:0 auto; background: $popup-bg; position: fixed; height:100%; overflow: auto;   
    background: $signin-pg-image; 
    background-size: cover;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    @include breakpoint(tablet){  position: relative;text-align: center; }   
    @include breakpoint(mobile){  background:$sigin-mobile-bg; }
    .tablet_logo{  position: fixed; cursor: pointer; max-width: 180px; max-height: 80px;  margin: 40px; z-index: 1;
        @include breakpoint(laptop){ max-width: 140px; max-height: 66px;
            margin: 30px; }
        @include breakpoint(tablet){  position: relative;  max-width: 130px;  max-height: 60px;
            margin: 30px 0px 20px; }
        @include breakpoint(mobile){ max-width: 120px;  max-height: 55px;
            margin: 20px;}
    }
    .signin_cont{ padding: 35px 30px 60px;
        display: block; height: fit-content;
        width: 480px;
        margin: 80px auto 30px;
        background: $signin-bg;
        position: relative;
        border-radius: $signin-border-radius;
        @include breakpoint(mac){ width:450px;}
        @include breakpoint(laptop){ width:480px;margin: 60px auto 30px; }
        @include breakpoint(tablet){width:450px; margin:0 auto 30px;padding-top: 30px;}
        @include breakpoint(mobile){ background: $sigin-mobile-bg; padding:0px 20px; width:100%; max-width: 450px;}
        
        h1{ font-size:28px; margin-bottom:28px; text-align: center; font-weight: 400;
            @include breakpoint(mac){font-size: 26px; margin-bottom:50px;}
            @include breakpoint(laptop){font-size: 24px; margin-bottom:28px;}
            @include breakpoint(tablet){font-size: 22px; margin-bottom:25px;}
            @include breakpoint(mobile){font-size: 20px;}
        }
        .ptagStyle{
            font-size: 14px;
            color: $grey-text-color;
            font-weight: 400;
            margin: 0 auto 40px;
            max-width: 360px;
            text-align: center;
        }
        form{ 
            input{ color:rgba(255,255,255, 0.6); padding: 14.5px 14px; }
            label{font-size: 14px; position: absolute;}
        }
        .show{  color: $grey-text-color; font-size: 14px; position: absolute; top:32px; right:10px; display: block;
            cursor: pointer;
            &:hover{ color:$grey-text-color; transform: all 0.5s;}
        }
        .forgot{ position: relative; height: 92px; text-align: left;
            .valid_error{bottom: 5px; color: $danger; position: absolute;
                font-size: 12px;}
            &.inline{display: flex; justify-content: space-between;}
            .mobileNumber{width: calc(100% - 14px);
                &.has_country_code{ padding-left:110px;
                    @include breakpoint(mobile){ padding-left:100px;}
                }
            }                
        }       
        .button{ height:42px; line-height: 44px; margin-top: 70px; text-transform: none; width: 100%; font-size: 14px;
            &.default{ margin-top:0 !important}
        }
       
        .md_label{ color:$grey-text-color; display: block; text-align: center; margin-top: 18px; font-weight: 600;     font-size: 14px;
            @include breakpoint(mac){margin-top: 40px;}
            span,a{ color:$grey-text-color; margin-left:5px; font-weight: 600; cursor: pointer;}
            span{color: $grey-text-color; 
                font-weight: 400;}
        }

        .signin_footer{ display: flex; flex-direction: column; position: relative; text-align: center;
            @include breakpoint(mobile){flex-direction: column-reverse;}           
        }
        .text_danger1{ position: relative; color:$danger; font-size:14px;left:0; right:0; margin:auto;
            text-align: center;top:20px;
            span{ text-align: center; margin:0 auto;word-break: break-word;     position: absolute;
                left: 0;
                right: 0;}
        }
     
    }
}


