@import "variables.scss";

.card {
    display: flex;
    align-items: center;
    background-color: $settings-accountinfo_bg;
    color: var(--arrow-color);
    padding: 1rem;
    border: 1px solid $grey-color;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    row-gap: 10px;
    cursor: pointer;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 19px;
    height: 19px;
    // background-color: #38383a;
    border-radius: 0.25rem;
    @include breakpoint (laptop){width: 52px;height: 52px;}
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    @include breakpoint (laptop){font-size: 16px;}
 
}

.date {
    font-size: 14px;
    color: #a0a0a0;
    @include breakpoint (laptop){font-size: 12px;}
}

.statusWrapper {
    text-align: right;
}

.amount {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    @include breakpoint (laptop){font-size: 14px;}
}

     
.status {
    display: inline-block;
    margin-top: 0.25rem;
    padding: 1px 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 25px;
    @include breakpoint (laptop){font-size: 10px;}
    

    &.success {
        color: #6fc290;
        background-color: #00FF9433;
    }

    &.canceled {
        color: #F54B5F;
        background-color: #533;
    }
}