@import 'variables.scss';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  .icon{
    width: 100px; 
  animation: spin 1s linear infinite;
  @include breakpoint(mac){ width:80px; height:80px;}
  @include breakpoint(laptop){ width:60px; height:60px;}
  @include breakpoint(tablet){ width:50px; height:50px;}
  }
}


.btn_loader { display: flex; justify-content: center;
  align-items: center; 
  .icon { width: 28px; height: 28px; border: 3px solid transparent;
    border-top-color: #fff; border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
