@import "variables.scss";

.wrapperdiv {
  display: block;
  position: relative;
  box-sizing: border-box;
  .container {
    padding: 0px;
    .info_text {
      margin-bottom: 20px;
      color: --white-text-color;
    }
    .partners_container {
      .partners_header {
        background: #444;
        width: 100%;
        height: 46px;
        line-height: 46px;
        margin-bottom: 10px;
        text-wrap: nowrap;
        .text {
          font-size: 16px;
          color: #fff;
          display: inline-block;
          padding: 0 15px;
          @include breakpoint(mobile) {
            padding: 0 10px;
          }

          &.name_text {
            width: calc(100% - 150px);
          }
          &.action_text {
            width: 140px;
          }
        }
      }
      .partners_body {
        max-height: 200px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: #232323;
          border-radius: 25px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #3c3c3c;
          border-radius: 25px;
          &:hover {
            background: #000;
          }
        }
      }
    }
  }
}
