@import 'variables.scss';
.app_footer{
    .footer{background: $footer-bg; padding: 50px 0px;
    
        @include breakpoint(desktop-small){padding: 25px 0px;}
          .container{
              .footer_inner{display: flex; align-items: center; 
                          @include breakpoint(tablet){display: block;}
                     .footer_left{ max-width: 40%;
                         flex: 0 0 40%;
                         width: 40%; padding-right: 30px;
                        @include breakpoint(laptop){ flex: 0 0 35%; width: 35%;}
                         @include breakpoint(tablet){width: 100%; max-width: 100%; margin: 0 auto; text-align: center; padding-right: 0px;}
                       img{width: 100%;
                         @include breakpoint(tablet){width: 75%; margin: 0 auto;}
                        //  @include breakpoint(mobile){width: 75%;}
                       }
                    }
                   .footer_right{ padding: 62px 0 0 45px;
                       @include breakpoint(desktop-big){
                         padding-left: 0;
                         max-width: 60%;
                         flex: 0 0 60%;
                         width: 60%;
                         padding-top: 0;
                       }
                       @include breakpoint(laptop){
                         max-width: 65%;
                         flex: 0 0 65%;
                         width: 65%;
                         padding-top: 20px;
                       }
                      .right_info{
                              h1{font-size: 32px; font-weight: 500; color:$text-color; padding-bottom: 14px;
                                   @include breakpoint(desktop-big){padding: 42px 0 14px;}
                                   @include breakpoint(mac){font-size: 30px;}
                                   @include breakpoint(laptop){font-size: 28px;}
                                   @include breakpoint(desktop-small){font-size: 24px;}
                                   @include breakpoint(tablet-portrait){padding: 50px 0 14px;}
                                   @include breakpoint(tablet){font-size: 24px; text-align: center;}
                                   @include breakpoint(mobile){font-size: 18px; } 
                                   @include breakpoint(mobile-common-land){font-size: 16px;}
                                   @include breakpoint(mobile-x-small){font-size: 13px;}
                              }
                              p{font-size: 30px;  font-weight: 400; color: $grey-text-color; margin-bottom: 60px;
                                   @include breakpoint(desktop-big){
                                        font-size: 24px;
                                         margin-bottom: 30px;
                                   }
                                @include breakpoint(mac){font-size: 22px;}
                                @include breakpoint(laptop){font-size: 20px;}
                                @include breakpoint(desktop-small){font-size: 18px; }
                                @include breakpoint(tablet){padding: 0;
                                   width: 100%;
                                   text-align: center;
                                   font-size: 16px;}
                                @include breakpoint(mobile){font-size: 14px; } 
                                @include breakpoint(mobile-x-small){font-size: 12px;}
                              }
                         }
                        .sub_apps{display: block; overflow: hidden; 
                               
                             .apps{float: left; width: 140px; position: relative; top: 2px; font-size: 18px; color: $grey-text-color;
                               @include breakpoint(desktop-big){margin-right: 10px;
                                   font-size: 16px;
                                   width: 100px;}
                                 @include breakpoint(mac){margin-right: 10px; width: 95px; font-size: 16px;}
                                 @include breakpoint(laptop){width: 80px; font-size: 14px;}
                                 @include breakpoint(tablet){display: block; width: 100%; text-align: center; margin-bottom: 25px;
                                      border-bottom: 1px solid #3f4144; margin-right: 0; margin-top: 18px;}
                                      @include breakpoint(mobile){margin-bottom: 15px;}    
                                 
                              }
                              ul{ display: flex; border-left:  1px solid #848484; align-items: center; 
                                        margin: 0 0 72px 20px;
                                        @include breakpoint(desktop-big){margin: 0 0 46px 21px;}
                                        @include breakpoint(mac){margin: 0 0 46px 20px;}
                                        @include breakpoint(laptop){margin: 0 0 46px;}
                                        @include breakpoint(tablet){margin: 0 auto; width: 100%; border-left: none; text-align: center; display: block;}
                                   li{float: left; height: auto; margin: 0px 15px; list-style: none;
                                            &:first-child{margin-left: 26px;
                                             @include breakpoint(laptop){margin-left: 23px;} 
                                             @include breakpoint(tablet-portrait){margin-left: 22px;}
                                             @include breakpoint(mobile){margin: 0 40px;}
                                             @include breakpoint(mobile){margin: 0 10px;}
                                              }
                                            @include breakpoint(tablet){height: 40px; float: none; display: inline-block; margin: 0 10px;} 
                                        a{
                                           img{width: 100%; vertical-align: middle;
                                             @include breakpoint(desktop-small){width: 70%;}
                                             @include breakpoint(tablet){width: 100%;}
                                             }
                                        }
                                   }
                              }
                         }
               
                    }  
               }
          }
     }
   .bottom_links{background: $footer-bottom-links-bg;
     .container{ 
          .bottom_links_inner{ height: 58px; display: flex; align-items: center; width: 100%;
               @include breakpoint(tablet-portrait){flex-direction: column; height: inherit; padding: 20px 0px; margin: 0;}
               @include breakpoint(tablet){padding: 15px 0px;}
              .bottom_left{
                    ul{ 
                             @include breakpoint(tablet){text-align: center; float: none;}
                         li{float: left; list-style: none;  margin-right:32px; 
                              @include breakpoint(laptop){margin-right: 25px;}
                              @include breakpoint(mobile-common-land){width: 100%; font-size: 14px; margin-bottom: 5px;}
                          a{color: $grey-text-color; font-size: 15px;
                              @include breakpoint(mac){font-size: 14px;}
                              @include breakpoint(laptop){font-size: 13px;}
                              @include breakpoint(desktop-small){font-size: 12px; }
                           }                
                         }                         
                    }
               }
              .bottom_right{margin-left:auto; display: flex;
                       @include breakpoint(tablet-portrait){margin-left: inherit; margin-top: 30px; display: flex; align-items: center;} 
                 .connect{margin-right: 12px ; opacity: 0.6;
                            @include breakpoint(mac){font-size: 14px;}
                           @include breakpoint(laptop){font-size: 13px;}
                          
                          }
                    ul{
                         li{ float: left; list-style: none; margin-right: 10px;   
                             
                              a{ font-size: 15px;
                                   @include breakpoint(mac){font-size: 14px;}
                               img{width: 26px; 
                                   @include breakpoint(mac){width: 20px;} 
                                }
                              }
                         }
                         li:last-child{margin-right: 0px;}
                    }
               }
          }
     }

}
}
