@import 'variables.scss';

.modal_size{
    min-height: calc(100% - (1.75rem * 2));
    width: 100% !important;
    max-width: 560px ;
    margin: 0 auto;
    transform: translate(0);
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    @include breakpoint(mac){width: 500px;}
    .model_content{    background: $profile-popup-bg;
        color: $grey-text-color;
        padding: 65px 40px 50px;
        display: block;
        position: relative;
        width: 100%;
        @include breakpoint(mac){padding: 60px 36px 50px;}
        @include breakpoint(mobile){padding: 31px 15px 32px;}
    .content_inner{padding: 0;}
    }
    .popup_body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .profile_image{ text-align: center;
            .profile_icon{width: 100px; height: 100px; border-radius: 8px;}
            .profile_name{
                color: $grey-text-color;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    @include breakpoint(mac){margin-top: 0px;}
            }
        }       
        .popup_title{
            width: 100%; margin-top: 30px; font-size: 18px;  
            letter-spacing: .14px; color: $grey-text-color; font-weight: 600; line-height: normal; text-align: center;
            @include breakpoint( mobile-common-land){font-size: 14px;}
           
        } 
        .popup_subTitle{
            color:$grey-text-color;
            font-size: 14px;
            max-width: 326px;
            margin: 12px auto!important;
            text-align: center;
           
        }
    }
 
    .btn{ display: flex; justify-content: center;  margin-top: 52px;
        @include breakpoint(mac){margin-top: 42px;}
        @include breakpoint(laptop){margin-top: 37px;}
        @include breakpoint(mobile){margin-top: 0;}
        .continue_btn,.cancel{margin-left: 20px ; min-height: 44px; padding: 10px; width: 160px; border-radius: 2px;font-size: 16px;
            @include breakpoint(mac){font-size: 14px; width: 112px;}
            @include breakpoint(mobile-big-land){width: 100px; }
            @include breakpoint( mobile-common-land){margin: 30px 0 0;}
        }
        .cancel {margin-left: 20px ;
        @include breakpoint(mobile-big-land){margin-left: 10px;}
        }
    }
}


