@import 'variables.scss';

.title_wrapper {
  padding: 0px 15px;
  cursor: pointer;
  p {
    overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
  }
  &.no_program{
    cursor:not-allowed;
  }

}