@import "variables.scss";

.partner_container {
    border-bottom: 1px solid #333;
    padding: 15px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(mobile) {
      padding: 10px;
    }
    .partner_name {
      width: calc(100% - 230px);
      font-size: 18px;
      font-weight: 400;
      color: #999;
      height: 35px;
      @include breakpoint(mobile) {
        ont-size: 16px;
        width: calc(100% - 100px);
      }
    }

    .partner_activate_btn {
      // width: 120px;
      border: 1px solid #555;
      padding: 6px 10px;
      border-radius: 2px;
      font-size: 14px;
      color: #999;
      background: none;
      outline: none;
      @include breakpoint(mobile) {
        font-size: 12px;
        padding: 4px 8px;
        width: fit-content;
        min-width: 145px;
        max-width: 90px;
      }

      &.active {
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }