@import 'variables.scss';

.modal_size{ max-width: 560px; width: 560px; background: $popup-mobile-bg; color: $grey-text-color;padding: 20px 20px 30px; 
    @include breakpoint(mac){max-width: 500px; width: 500px;}
    @include breakpoint(mobile) { max-width: 100%; width: auto;}  
    @include breakpoint(mobile-common-land){padding: 20px 20px 30px; max-height: 460px; overflow: scroll;}
    .popup_topImg{
        text-align: center;
        img{width: 50px; height: 50px;}
    }
    .title{
        .cross_icon{ cursor: pointer; position: absolute; top:30px; right: 30px; 
            @include breakpoint(mobile){top: 17px; right: 17px;}
            &:hover{text-decoration: none !important; }
        }
       
        .popup_title{
            // width: 100%; padding: 0px 66px 30px; margin-top: 10px; font-size: 10px;
            // letter-spacing: .14px; font-weight: 100; color: $text-color; line-height: normal; text-align: center;
            // @include breakpoint(desktop-small) {  padding: 0px 15px 35px; }  
            h2{ font-size:18px; font-weight: 500; max-width: 355px; margin:30px auto 0; line-height: normal; letter-spacing: .14px;
                color: $text-color; text-align: center; font-family: Poppins, sans-serif !important;
                @include breakpoint(mobile) { font-size:18px; font-weight: 400;}
                @include breakpoint(mobile-common) { max-width: 100%;}
                @include breakpoint(mobile-common-land){font-size: 16px;}
            }
        }   
        .popup_title2{ font-size: 12px; margin: 20px 0px; margin-left: 20px;
            letter-spacing: .14px; font-weight: normal; color: $text-color; line-height: normal; text-align: center;
            @include breakpoint(mobile-common-land){margin: 10px 0 10px 20px;}
            h3{font-size: 15px; color: #9ea2ac; line-height: 1.2; font-weight: 500; font-family: Poppins, sans-serif !important;
             @include breakpoint(mobile){font-size: 14px;}
            }
         &.sub{
            text-align: left;
         }
        }
            
            h3{font-weight: normal;}
            .subtitle1{font-size: 13px; margin-left: 20px; display: flex; flex-direction: column; gap: 4px;  font-weight: normal;
                color: #9ea2ac;
                @include breakpoint(mobile-common-land){}
             .delActpoints{display: flex; font-size: 14px; gap: 3px;
              @include breakpoint(mobile-common-land){font-size: 12px;}
            }
            }
            
    }
 
    .btn{ display: flex; justify-content: center; align-items: center;  flex-wrap: wrap;
        justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; margin: 50px auto auto;
        @include breakpoint(mobile-big-land){ gap: 10px;}
        // @include breakpoint(mobile-common-land){padding: 10px 20px;}
        @include breakpoint(mobile-big-land){flex-direction: column-reverse;}
        button{ min-width: 92px;border-radius: 2px;font-size: 14px; height: 40px; padding: 10px 20px; gap:10px;
            margin:0;
            @include breakpoint(mobile-big-land){width: 100%;}
        }
        &.deleteAccountBtn{
            @include breakpoint(mobile-big-land){ gap: 10px;  margin-top: 26px;}
        }
    }
}

.addToFavourite{
   overflow: hidden;
    .popup_title{
        padding: 0 !important;
        h2{font-size: 22px !important;
            line-height: 32px;
            margin: 16px 0 4px;
            max-width: 99%;
            @include breakpoint(desktop-big) { font-size:24px !important;}
            @include breakpoint(mac) { font-size:22px !important; line-height: 32px; margin:16px 0px 4px 0;}
            @include breakpoint(tablet) { font-size:20px !important; line-height: 28px;}
            @include breakpoint(mobile) { margin-bottom:6px;}
            @include breakpoint(mobile-common-land) {font-size:18px !important; line-height: 26px;}
            @media only screen and (max-width: 550px) and (min-width:481px) {font-size: 16px!important; line-height: 24px;}
            @include breakpoint(mobile-common) {font-size:15px!important;}
            @media only screen and (max-width: 375px) {font-size:15px !important;}
            @include breakpoint(mobile-x-small) {font-size:13px !important;}
        }
    }
    .btn{ button{
        @include breakpoint(mobile) { width: fit-content;}
    }}    
}
.freedomTvSubscribe{
    overflow: hidden;
    .popup_title{
        padding: 0 0 30px  !important;
    h2{font-size: 22px !important;
        line-height: 32px;
        margin: 16px 0 4px;
        max-width: 100% !important;}
    }
    .btn{  
        flex-wrap:nowrap !important;
        button{
            min-width: 50%;
        @include breakpoint(mobile) { width: fit-content;}
    }} 
    .popup_title2{
        padding: 0px 20px 0px !important;
        text-align: center !important;
    }
    img{
        width: 97px !important;
        height: 97px !important;
    }
}

