@import "variables.scss";

.textField {
  position: relative;
  height: 92px;
  text-align: left;
  caret-color: white;

  .datePicker {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &.inline {
    display: flex;
    justify-content: space-between;
  }

  .mobileNumber {
    width: calc(100% - 14px);

    &.has_country_code {
      padding-left: 100px;
    }
  }
}

.valid_error {
  bottom: 5px;
  color: $danger;
  font-size: 12px;
}

.show {
  color: $grey-text-color;
  font-size: 14px;
  position: absolute;
  top: 32px;
  right: 10px;
  display: block;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $text-color;
    transform: all 0.5s;
  }
}

.genderCont {
  display: flex;
  gap: 20px;
  color: $grey-text-color;
  line-height: 20px;
  margin-top: 10px;
  position: relative;

  @include breakpoint(mobile-common) {
    gap: 10px;
  }

  .valid_error {
    bottom: -26px;
    color: $danger;
    position: absolute;
    font-size: 12px;
    @include breakpoint(mobile) {
      bottom: -20px;
    }
  }

  .genderLabel {
    position: relative;
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: $grey-text-color;

    @include breakpoint(mobile-common) {
      gap: 10px;
    }

    .loopGender {
      .genderradio {
        position: relative;
        cursor: pointer;

        input {
          opacity: 0;

          &.whitebtn {
            + .indicator {
              border: 2px solid $gender-radio-border;
            }
          }

          &.primary {
            + .indicator {
              border: 2px solid $primary-color;

              + .dotbutton {
                background-color: $primary-color !important;
              }
            }
          }
        }

        .indicator {
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border: 2px solid $signin-btn-border;
          border-radius: 100%;
        }

        .dotbutton {
          width: 8px;
          top: 5px;
          left: 5px;
          height: 8px;
          border-radius: 50%;
          background-color: $gender-radio-bg;
          position: absolute;
          margin: 0;
        }

        .label_text {
          margin-left: 15px;

          @include breakpoint(mobile-common) {
            margin-left: 9px;
          }
        }
      }
    }
  }
}

.errorAndForgotContainer {
  display: flex;
  justify-content: space-between;

  .forgetpassword {
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 12px;
      color: #898b93;

      &:hover {
        color: #fff;
        transform: all 0.5s;
      }
    }
  }
}
