
@import 'variables.scss';

.main_nav{ position: fixed; left:0; top:0; width:100%; transition: top .3s ease-out;
        .top_header{ height:40px; line-height: 40px; background: $top-nav; text-align: right; display: block; position: relative;
        @include breakpoint(mac){height: 34px; line-height: 34px;}
        .container{
            .language{position: relative; cursor: pointer; padding-right: 20px; margin-left: 25px; font-size: 12px; opacity: .75; color: #fff;
                img{vertical-align: middle;}}
                .language::after{content: ""; border: solid #fff;  border-width: 0 2px 2px 0; display: inline-block;  padding: 3px;
                    transform: rotate(-45deg); -webkit-transform: rotate(45deg);  position: absolute; top: 4px;right: 0;}
                    .help{margin-left: 25px; font-size: 12px; opacity: .75; color: $text-color;
                        img{vertical-align: middle;}}     
        }
        .help a{font-size: 12px; opacity: 0.75; color: $text-color;}      
    }
    &.nav_fixed{ top:-40px;
        @include breakpoint(mac){ top:-34px; }
        .nav{ background-color: $top-nav}
        .header_gradient{ display: none;}
    }
     }




.headerHome{
    &.no_languages{
        .headerDesktop{
            .main_nav{
                &.nav_fixed{
                     top: 0 !important;
                }
            }
            .nav{
                .header_gradient{
                    top: 0 !important;
                }
            }
        }
    }
    @include breakpoint(mobile){display: inline;}
    .headerDesktop{display: block; position: relative; top:0; z-index: 9;
        .nav { font-style: italic; padding: $nav-padding; height:80px; 
                width:100%; display: flex; z-index: 3; transition: background-color 1.5s; 
                color:$grey-text-color;
            @include breakpoint(mac){ height:70px; }
            @include breakpoint(laptop) { padding: 0 55px; height: 65px;}
            @include breakpoint( desktop-small){padding: 0 30px;}
                .header_gradient{ position: absolute; top:40px; left:0; width:100%; height:82px; opacity: 1; transition: all 5s;
                    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
                    background-image: linear-gradient(to bottom, rgba(20,20,20, 0.65), rgba(20,20,20, 0.45) 59%, rgba(20,20,20, 0));
            
                    background-image: linear-gradient(to bottom, #141414, rgba(20,20,20, 0.35) 59%, rgba(20,20,20, 0));
                    @include breakpoint(mac) { top:34px; }
                    @include breakpoint(mobile) { display:none }
                    &.top_gradient{  top:0px;
                        @include breakpoint(mac) { top:0px; }
                    }  
                } 
 
            // &.nav_fixed{ background: $nav-bg;
            //     .header_gradient{ display: none; opacity: 0;}
            // }
            .nav_left{ display: flex; align-items: center;
               .logo{ float:left; margin-right:20px; width: $logo-width; cursor: pointer; position: relative; 
                max-width: 160px;max-height: 60px;     
                width: auto;
                height: auto;
                  @include breakpoint(mac) {max-width: 140px; max-height: 50px;}
                  @include breakpoint(laptop) {max-width: 120px; max-height: 50px;}
            
            } 
               ul{
                li{ float: left; list-style: none; position: relative;
                   
                    a{ padding:7.5px 24px;  color:rgba($white-color, 0.6);  font-size:16px; text-decoration: none; font-style: normal;
                        display: block; position: relative; border-radius: 36px; margin: 0 7px;
                        background: rgba(255, 255, 255, 0.16);
                        @media screen and (max-width:1600px){
                            padding: 6px 24px; font-size: 14px;
                        }
                        // @include breakpoint(mac) { padding:5px  24px; font-size:14px; }
                        @include breakpoint(laptop) { padding:5px  20px; }
                        &:hover{ color:$text-color;}
                        &.active{ color:$text-color; background: $primary-color;
                            // &:after{ content:""; width:100%; height:2px; background: $primary-color; position: absolute;
                            //     left:0; bottom:0;
                            // }
                            }
                        h1{ font-size: 16px; font-weight: normal;
                            @include breakpoint(mac) { font-size:14px;  }
                            @include breakpoint(tablet-portrait){ font-size: 13px;}
                        }  
                            
                        }
                       .tag_class{display: flex; justify-content: center;
                    .tag{
                        position: absolute;
                            top: 0;
                            font-size: 10px;
                            background: $danger;
                            color: $text-color;
                            padding: 3px 8px;
                            border-radius: 0 0 4px 4px;
                            font-style: italic;
                            &.bp{background: #0A9213;}
                    }
                    }
                        ul{ width: 200px; position: absolute; display: block; background: $nav-bg; display: none; left: 0; top: 66px;
                            @include breakpoint(mac){top: 60px;}
                            li{ float:none; padding: 10px 20px;  opacity: .75; 
                                a{line-height: normal; padding: 0; color: $text-color; font-size: 16px;  font-weight: 400;
                                @include breakpoint(mac){font-size: 14px;}
                                &::before{display: none;}
                                }
                                &:hover{background-color: $more-menus-hover-bg; opacity: 1;}
                            }
                            
                    }
                    &.more_menu{  
                        .hasMoreDiv{
                            position: relative;
                            padding-right: 32px !important;
                            padding: 20.5px 16px;
                            color: $grey-text-color;
                            @include breakpoint(mac){padding: 20px 16px; font-size: 14px;}
                            &::before{ content: "";
                                width: 0;
                                height: 0;
                                border: solid #fff;
                                border-width: 0 2px 2px 0;
                                position: absolute;
                                bottom: 2px;
                                top:0;
                                margin:auto;
                                right: 14px;
                                transition: all .5s;
                                transform: rotate(-45deg);
                                -webkit-transform: rotate(45deg);
                                padding: 3px;
                                @include breakpoint(mac){}
                                opacity: .65;
                            }
                            &.active{
                                &:after{ content:""; width:100%; height:2px; background: $primary-color; position: absolute;
                                    left:0; bottom:0;
                                   
                                }
                                }
                        }
                    }
                     
                   
                }
                  li:hover ul{display: block;}
               }
            }
            .nav_right{ margin-left:auto; height:80px; display: flex; align-items: center; position: relative;
                @include breakpoint(mac){height: 70px;}
                @include breakpoint(laptop){height: 65px;}
                .main_search{ display: flex; position: relative; border:solid 1px #fff;
                    padding:6.5px 24px; border-radius: 36px;
                    @media screen and (max-width:1600px){
                        padding: 4.5px 24px; font-size: 14px;
                    }
                    // @include breakpoint(mac){ padding:7.5px 24px; }
                    @include breakpoint(laptop){ padding:4.5px 20px; }
                    img{ margin-right:10px; width:20px;
                     @media screen and (max-width:1600px){
                        width: 16px;
                     }
                    }
                    // .search{ font-size: 16px;}
                    // &:after{ content:""; width:1px; height:20px; background: #888; position: absolute;
                    //     right:-50px; bottom:0; margin-left:30px; top: calc(50% - 10px);
                    // }
                }



                .profile_menu_nav{ display:inline-block; margin:0px 0px 0 0px; cursor: pointer; padding:0px; position: relative;
                    .profile_name_block{ padding:8px 0 8px 40px; display:inline-block; font-size:16px; position: relative; z-index: 1; color:#fff;
                        @media screen and (max-width:1600px) {
                            padding: 6px 0 6px 40px;
                        }
                        .profile_icon{ width:32px; height:32px; line-height:32px; text-align:center; border-radius: 50%; display: flex; align-items: center; justify-content: center;
                            background:$profile-icon-bg; position: absolute; top:2px; left:0; color:#fff; border:solid 1px #9f3e1b;
                            font-style: normal;
                            img{border-radius: 20px; height: 30px;}
                            &.with_profiles{ background: none; border:none;
                                img{border:solid 1px $bottom-menu-bg;}
                            }
                          }
                        .profile_name{ font-size:14px; position: relative; padding-right:25px; max-width:110px; display:block;
                            overflow:hidden; white-space: nowrap; text-overflow: ellipsis; font-style: normal;
                            &:after{ content: "";
                                border: solid #fff; border-width: 0 2px 2px 0; display: inline-block; padding: 3px;
                                transform: rotate(-45deg); -webkit-transform: rotate(45deg); position: absolute;
                                top: 6px; right: 5px;
                            }
                        }
                    }
                    .profile_menu{ display:none; position: relative; box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.46);
                        background-color: $profile-menu-bg; width:200px; text-align: left; opacity:0; visibility: none;
                        transition: all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear 10ms; 
                        position: absolute; top:36px; right:-20px; padding:10px 0; height:0;
                        &.has__profiles{ width:390px;
                            ul{ width:50%; float:left; border-right: solid 1px rgba(255, 255, 255, 0.10); padding:0 10px; }
                        }
                        ul{ width:100%; padding:0;
                            li{ padding:8px 10px; font-size:14px;  display: flex; align-items: center;  
                                line-height: 20px; position: relative;
                                &.help{ }
                                .user_icon{ width:25px; height:25px; background:#ccc; border-radius:50%; 
                                margin-right:10px; display:inline-block;}
                                .profile_lock_icon{position: absolute; right: 5px; top:15px}
                                .profile_lock{ display: block; margin-left:auto;}
                                &.devider{ width:100%; height:1px; margin:10px 0; background:rgba(255, 255, 255, 0.10); display:block; padding:0;}
                                &:first-child{
                                .profile_lock{ display: block; margin-left:auto;}
                                }
                                a{background: none;color:$white-color; padding: 0; opacity: 0.6;
                                    width: 100%;
                                }
                             
                            }
               
                            &.users_section li{ display:flex; align-items:center;
                                .profile_name_el{ display:block; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
                            }
                            &:last-child{ border:none;}
                        }
                    }
                    &:hover{ overflow: inherit;
                        .profile_menu{ display: block; position: absolute; top:36px; visibility: visible; opacity: 1;
                          transform: translateY(0); transition-delay: 0s,0s,.3s; height:auto;
                          @media screen and (max-width:1600px) {
                           top: 34px;
                        }
                          li{
                            &:hover{ color:$text-color; opacity: 1;
                                a{opacity: 1;}
                            }
                          }
                        }
                    }
                }

                .profile_menu_nav{ display:inline-block; margin:0px 0px 0 0px; cursor: pointer; padding:0px; position: relative;
                
                }




                a{ text-decoration: none; color:$white-color; opacity: 0.8; padding:6px 10px; margin-right:15px; 
                    font-size:14px;
                    
                    &:last-child{ margin:0; padding:9.5px 25px; opacity: 1;
                        color:$primary-button-text-color; border-radius: 36px;
                        @media screen and (max-width:1600px) {
                            padding: 6px 24px; font-size: 14px;
                        }
                        @include breakpoint(mac){ padding:9.5px 24px; }
                    //     @include breakpoint(laptop){ padding:6.5px 24px; }
                    //   @include breakpoint(desktop-small){padding: 8px 10px;}
                    }
                    &:hover{opacity: 1;}
                }
            }
            &.nav_bg{background: #111;
              .header_gradient{display: none;}
            }
        }
    }




    @include breakpoint(tablet) {
        .headerDesktop{display: none;}
        .headerMobile{display: inline;}
        .bottom_menus{display: flex;}
    }       
    .headerMobile{ z-index: 3; width: 100%;
        transition: top .3s ease-in; display: none; top:0;
        @include breakpoint(tablet) { display: inline;}
        .nav_transparent{ top: 0;transition: top .3s ease-in; position: relative;
            @include breakpoint(mobile) { position: sticky;}
            &.has_trans{
                .headerMenus{background: linear-gradient(180deg,#141414 0,hsla(0,0%,8%,0));
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
                    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.65), rgba(20, 20, 20, 0.45) 59%, rgba(20, 20, 20, 0));
                    background-image: linear-gradient(to bottom, #141414, rgba(20, 20, 20, 0.35) 59%, rgba(20, 20, 20, 0)); 
                }
            }
            &.no_trans{
                .headerMenus{ background: none;}
            }
            
        }
        .headerMobile_fixed{ position: sticky; top:-44px; z-index: 5; transition: top .3s ease-in; width: 100%;
        background: $mobile-header-bg;
        }
      }
}

.mobile_header{ text-align: center; position: relative;
    z-index: 3;
    .mobile_header_top {display: flex; align-items: center; justify-content: space-between; 
        background: $mobile-header-bg; padding: 10px 20px; height:44px;

        .logo{width: 110px; max-height:34px; display: block;
        
        }
        a {
            .searchIcon {width: 22px;
                @include breakpoint(mobile) { position: relative; top:3px;}
            }
        }
    }
   
    .logo{ width:60px; padding:10px 0;
        @include breakpoint(mobile) { padding:0;}
    }
    .headerMenus{ white-space: nowrap; width:100%; overflow: hidden; overflow-x: auto;
        transition: 0.3s;
        li{ display: inline-block; margin:0 4px;
            @include breakpoint(tablet) { margin:10px 4px;}
            a{ padding: 15px 16px; font-size: 14px; display: inline-block; color:$text-color; opacity: 0.7;
                background: $grey-text-color; border-radius: 36px;
                @include breakpoint(tablet) { padding: 5px 16px;}
                position: relative;
                &.active{ background: $primary-color;
                    @include breakpoint(mobile) { opacity: 1;}
                    // &:after{ content:""; width:100%; height:2px; background: $primary-color; position: absolute;
                    //     left:0; bottom:0;
                    // }
                }

            }
            h1{font-size: 14px;font-weight: normal;}
        }
        &::-webkit-scrollbar { 
            @include breakpoint(mobile) {display: none;}
        }
    }
}

.bottom_menus{ display: none;
    position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background: $bottom-menu-bg; align-items: center; justify-content: space-around; z-index: 2;
    li{ font-size: 12px; width: 20%; display: flex; align-items: center; justify-content: center;
        .active{
            .selected{display: block;}
            .default{display: none;}
        }
        .imageDiv{height: 35px; display: flex; align-items: center;}
        img{margin: 5px auto 0;}
        .default{display: block;}
        .selected{display: none;}
        a{color: $grey-text-color;
        &.active{
            color: $primary-color;
        }
        }
    }
}

.headerMobile{
    overflow: visible; display: inline; 
    .nav_transparent{position: sticky; top: 0; z-index: 9;}
}
.headerMobile_fixed{ position: sticky; top:0; z-index: 5; transition: top .3s ease-in; width: 100%;
    background: $mobile-header-bg;
    }

.settingsIconContainer{
    display: inline-flex; align-items: center;
}
    
// styles for subMenu in navbar
    .moreMenuList{

      
        position: relative;
        .arrowForItem{
            &::before{
            content: "";
            width: 0;
            height: 0;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            position: absolute;
            bottom: 1px;
            top: 0;
            margin: auto;
            right: 14px;
            transition: all 0.5s;
            transform: rotate(-90deg);
            -webkit-transform: rotate(315deg);
            padding: 3px;
            opacity: 0.65;
           
            
        }
         &:hover{
            .subMenu{
                display: block !important;
            }
         }
    }
        
        & li{
            position: relative;
        }
        &>li:nth-child(1):hover{
            .subMenu{
                display: block !important;
            }
        }
        .subMenu{
            display: none !important;
             position:absolute
            !important; 
            top:0 !important;
            left: 180px !important;
            & li:hover{
                li{
                    background-color: $more-menus-hover-bg !important;
                }
            }
        }
    }