@import "@/styles/variables.scss";

.durations_container{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
 padding-right: 5px;
  &::-webkit-scrollbar {
    width: 3px;
    
  }

  &::-webkit-scrollbar-track {
    // background: #232323;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444451;
    border-radius: 25px;

    &:hover {
      background: #000;
    }
  }

  .duration {
    cursor: pointer;
    @include breakpoint(mac) {
      padding: 15px 20px 15px 15px;
    }

    @include breakpoint(mobile) {
      padding: 15px 20px 15px 18px;
    }

    @include breakpoint(mobile-common) {
      padding: 12px 15px;
    }

    padding: 15px 20px 15px 15px;
    background: $duration-container-bg;
    text-align: left;
    position: relative;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-right: 20px;
    line-height: 1.5;
    width: 100%;
    border: 2px solid $duration-container-border;

    &.selected {
      border-color: $primary-color;

      .duration_left {
        .pack_info {
          .radio_btn {
            .radio_btn_inner {
              display: inline-block;
            }
          }
        }
      }
    }
    &.disable{
      cursor: no-drop;
      opacity: 0.5;
    }

    display: flex;
    align-items: center;

    .plan_status {
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 11px;
      padding: 2px 5px;
      background: $primary-color;
      color: $text-color;
      border-radius: 2px 0 0 0;
    }

    .duration_left {
      width:50px;
      @include breakpoint(mobile-common-land) { width:30px;}
      .pack_info {
        display: flex;
        align-items: center;

        .radio_btn {
          height: 20px;
          width: 20px;
          position: relative;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid $primary-color;

          .radio_btn_inner {
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $primary-color;
            display: none;
          }
        }
      }
    }

    .duration_right {
      flex: 1;

      .duration_right_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pack_meta {
          @include breakpoint(tablet) {
            
          }

          .pack_type { font-size: 20px; color: $text-color; margin-bottom: 0;
            @include breakpoint(tablet) { font-size: 18px; }
            @include breakpoint(mobile) { font-size: 16px; }
          }

          .terms {
            font-size: 12px;

            a {
              color: #007bff;
              text-decoration: underline;
              margin-right:5px;
            }

            @include breakpoint(mobile) {
              font-size: 10px;
            }
          }
        }

        .price_info {
          text-align: center;

          .offer {
            font-size: 14px;
            color: $primary-color;
            text-decoration: line-through;
          }

          .price {
            font-size: 26px;
            display: block;

            @include breakpoint(tablet) {
              font-size: 20px;
            }

            @include breakpoint(mobile-common) {

              line-height: 32px;

            }
          }

          .tax_info {
            font-size: 11px;
            color: $text-color;
            opacity: 0.75;
            display: block;

            @include breakpoint(tablet) {
              font-size: 10px;
              max-width: 80px;
              margin: 0px auto;
            }

            @include breakpoint(mobile-common) {

              max-width: 60px;

            }
          }
        }
      }

      .features {
        @include breakpoint(laptop) {
          padding-top: 10px;
        }

        padding-top: 12px;
        border-top: 1px solid hsla(0, 0%, 44%, 0.8);
        margin-top: 12px;

        .feature {
          font-size: 11px;
          color: $text-color;
          opacity: 0.7;
          list-style: disc;
          margin-left: 15px;
        }
      }
    }
  }

  .active_plans_container{
    margin-bottom: 20px;
  }

  &.mobile {
    height: 100%;
    .duration {
      // border-color: transparent;

      &.selected {
        // border-color: transparent;
      }
    }
  }

  .plans_heading{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.terms {
  font-size: 12px;

  a {
    color: #007bff;
    text-decoration: underline;
  }
}

.mobile_continue { height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  color: $text-color;
  margin: 0 auto;
  margin-top: 16px; display: none;
  background: $primary-color;
  cursor: pointer;
  @include breakpoint(mobile) { display: block;}
  &.disabled { opacity: .65; cursor: not-allowed;}

  
}
