@import 'variables.scss';
.sharecontent_modal {
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cross_icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    &:hover {
      text-decoration: none !important;
    }
  }
  .main_modal {
    margin: 100px auto;
    transform: translate(0);
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus-visible {
      outline: none !important;
    }
    .modal_wrapper {
      max-width: 680px;
      height: 510px;
      @include breakpoint(mac){max-width: 500px;}
      @include breakpoint(mobile) {
        // width: 390px;
        // height: 310px;
        padding: 0px 20px;
      }
      .modal_content {
        background: $profile-popup-bg;
        border-radius: 5px;
        color: $grey-text-color;
        padding:50px 26px 30px;
        display: block;
        position: relative;
        .modal_content_inner {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          .profile_img {
            display: flex;
            justify-content: center;
            align-items: center;      
            min-height: 36px;
            width: 100px;
            margin: 12px 6px;
            img {
              width: 120px;
              height: 120px;
            }
          }
          .otp_Txt {
            font-size: 22px;
            margin-top: 52px;
            color: $text-color;
            @include breakpoint(mobile){font-size: 16px;}
            &.View_Txt {
              margin-top: 15px;
              word-wrap: break-word;
            }
          }
          .otp_subTxt {
            margin-top: 20px;
            font-size: 14px;
            color: $text-color;
            opacity: 0.65;
            max-width: 410px;
            word-break: break-word;
            &.View_subTxt {
              margin-top: 5px;
            }
          }
          .otp_block {
            margin-top: 20px;
            display: flex; justify-content: center;     align-items: center;     flex-direction: column;
            .text_danger1{ color:$danger; font-size:14px; position: relative; width: 100%;
              margin-top: 10px;  display: flex; justify-content: center;
              span{ text-align: center;}
            } 
            .fogot_pin{
              color: #898b93;
              opacity: .5;
              font-size: 14px;
              margin-top: 20px;
              cursor: pointer;
              &:hover{
                color: #fff;
                opacity: 1;
              }
              @include breakpoint(mac){
                font-size: 12px;
              }
            }
            input {
              width: 50px !important;
              height: 50px;
              padding: 0;
              margin-right: 5px;
              text-align: center;
              border: 1px solid #444;
              border-radius: 5px;
              background: none !important;
              color: $text-color;
              font-size: 16px;
              outline: none;
            }          
          }
          .footer_actions {
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            gap: 10px;
            button {
              padding: 12px 0px;
              border: none;
              background: rgba(255, 255, 255, 0.1);
              font-size: 16px;
              width: 160px;
              text-align: center;
              border-radius: 2px;
              -moz-border-radius: 2px;
              -webkit-border-radius: 2px;
              color: $text-color;
              border-radius: 2px;
              border: none;
              height: 44px;
              color: #fff;
              width: 180px;
              padding: 5px;
              font-size: 15px;
              outline: none;
              text-transform: uppercase;
              background: #3c3c3c;;
              @include breakpoint(mac){
                width: 172px;
                margin: 10px;
              }
              @include breakpoint(laptop){
                width: 130px;
                margin: 12px;
                font-size: 14px;
              }
              @include breakpoint(mobile){
                height: 36px;
                width: 100px;
                margin: 12px 6px;
              }
              &.disabled{
                opacity: .5;
              }
              &:last-child {
                background: $primary-color;
                color: $primary-button-text-color;
              }
            }
          }
        }
      }
    }
  }
}
