@import "variables.scss";

.swagPopUp {
  position: absolute;
  left: 10%;
  .container {
    padding: 20px;
    .swagIcon{
      width: 22px;
      height: 22px;
    }
  }
  .label {
    color: #ea1763;
    font-size: 10px;
    font-weight: 500;
  }
  .title1 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .text1 {
    font-size: 12px;
    font-weight: 400;
    color: #e4e4e4;
  }

  .closeBtn {
    color: #ea1763;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    p {
      text-align: end;
      cursor: pointer;
    }
  }
}

.rentPopUp {
  position: absolute;
  bottom: 10%;
  .container {
    padding: 20px;
  }
  .label {
    color: #ffffff;
    font-size: 10px;
    background-color: #ea1763;
    font-weight: 500;
    display: inline;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .title1 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .text1 {
    font-size: 12px;
    font-weight: 400;
    color: #e4e4e4;
  }

  .closeBtn {
    color: #ea1763;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    p {
      text-align: end;
      cursor: pointer;
    }
  }
}

.subscribePopUp {
  position: absolute;
  bottom: 20%;
  .container {
    padding: 20px;
  }
  .label {
    color: #ffffff;
    font-size: 10px;
    background-color: #ea1763;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 4px;
    max-width: 80px;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .title1 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .text1 {
    font-size: 12px;
    font-weight: 400;
    color: #e4e4e4;
  }

  .closeBtn {
    color: #ea1763;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    p {
      text-align: end;
      cursor: pointer;
    }
  }
}
