@import 'variables.scss';
.tabs_container {
  // padding: 0 45px;
  background: #222;
  margin-top: 31px;
  margin-bottom: 10px;
  border: 1px solid #1f1f29;
  position: relative;
  display: flex;
  flex-direction: column;
  position: sticky;
  top:105px;
  z-index: 8;

  .times_bar{ display: flex; overflow: hidden; background: #313131; position: relative;
    .live_tag{ flex: 0 0 100px; display: flex; align-items: center; justify-content: center;
      position: relative; z-index: 1;
      span{ padding:2px 10px; background: #666; color:#fff; cursor: pointer; font-size:14px;
        &:before{ content:""; width:6px; height:6px; background: #ccc; border-radius: 50%; margin-right:5px;
          display: inline-block;
        }
      }
    }
    .times_container{ position: relative; width:100%; display: block; overflow: hidden;
      .times {
        // position: relative;
        height: 48px;

        .times_inner {
          white-space: nowrap;
          // overflow: hidden;
          margin-left:-250px;
          .time {
            font-size: 0.875em;
            position: relative;
            width: 270px;
            color: hsla(0, 0%, 100%, 0.57);
            height: 48px;
            line-height: 48px;
            padding: 0 15px;
            display: inline-block;
            font-weight: 400;
            background-color: #313131;

            @include breakpoint(tablet) {
              width: 180px;
            }

            &::after {
              height: 25px;
              top: 12px;
              content: "";
              width: 2px;
              background: hsla(0, 0%, 100%, 0.2);
              position: absolute;
              right: 0;
              font-size: 0.875em;
              box-sizing: border-box;
            }
          }
        }
      }
      
    }
    .time_controls{ position: absolute; left:0; top:10px; width:100%;
      span{ position: absolute; top:10px; cursor: pointer; border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        &.prev{ content:""; left:2px; transform: rotate(135deg);
          -webkit-transform: rotate(135deg);}
        &.next{ content:""; right:10px; transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);}
      }
    }
  }
    
  

  // .tabs_next,
  // .tabs_prev {
  //   display: inline-block;
  //   min-width: 45px;
  //   height: 100%;
  //   line-height: 64px;

  //   @include breakpoint(mac) {
  //     min-width: 35px;
  //     line-height: 60px;
  //   }

  //   @include breakpoint(laptop) {
  //     line-height: 55px;
  //   }

  //   @include breakpoint(tablet-portrait) {
  //     display: none;
  //   }

  //   img {
  //     vertical-align: middle;
  //     margin-left: 28%;
  //   }

  //   &.disable {
  //     opacity: 0.45;
  //     pointer-events: none;
  //   }
  // }

  // .tabs_next {

  //   // right: 10px;
  //   img {
  //     vertical-align: middle;
  //   }
  // }

  // .tabs_prev {
  //   // left: 10px;

  //   img {
  //     transform: rotate(180deg);
  //   }
  // }

  // .tabs_inner {
  //   position: relative;
  //   overflow-x: hidden;
  //   white-space: nowrap;
  //   overflow-x: auto;
  //   scroll-behavior: smooth;

  //   &::-webkit-scrollbar {
  //     display: none;
  //   }

  //   @include breakpoint(tablet-portrait) {
  //     overflow-x: auto;
  //     scroll-behavior: auto;
  //     //  &::-webkit-scrollbar {
  //     //    display: none;
  //     //  }
  //   }

  //   .tabs {
  //     display: flex;

  //     .tab {
  //       display: inline-block;
  //       text-align: center;
  //       color: hsla(0, 0%, 100%, .8);
  //       position: relative;
  //       padding: 0px 20px;
  //       line-height: 64px;

  //       .tab_title {
  //         display: inline-block;
  //         width: 100%;
  //         text-align: center;

  //         &.active_tab_title {
  //           color: $primary-color;
  //         }
  //       }

  //       @include breakpoint(mac) {
  //         padding: 0 34px;
  //         line-height: 60px;
  //       }

  //       @include breakpoint(laptop) {
  //         font-size: .938em;
  //         line-height: 55px;
  //       }

  //       @include breakpoint(tablet-portrait) {
  //         padding: 0px 28px;
  //       }
  //     }
  //   }

  //   .tab_line {
  //     position: absolute;
  //     height: 2px;
  //     background-color: $primary-color;
  //     -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  //     transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  //     bottom: 0px;
  //   }
  // }
  .datetabs{
    background-color: red;
  }
}