@import 'variables.scss';

.cardcontainer{
  // margin-top: 150px;
  text-align: center;


  .card {
    max-width: 450px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    @include breakpoint (mobile){
      margin: 20px;
     }
 
  
    .icon {
      img {
        margin-bottom: 20px;
        width: 173px;
        height: auto;
        @include breakpoint (mobile){width: 140px;}
      }
    }
  
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
  
    p {
      font-size: 14px;
      margin: 10px 0 20px;
      font-weight: 300;
      line-height: 22px;
      color: var(--text-color);
      opacity: 0.7;
    }
  
    .button {
      border: none;
      border-radius: 6px;
      padding: 10px 20px;
      font-size: 14px;
      max-width: 260px;
      width: 100%;
      cursor: pointer;
      margin-top: 15px;
      font-weight: 500;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #d81b60;
      }
    }
  }
}
  