@import 'variables.scss';


.otp_main{
    background: rgba;
     z-index: 999999;
    display: block;
    // overflow-x: hidden;
    // overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
.otp_cont{
 padding: 20px;
    transform: translate(0);
    align-items: center;
    min-height: calc(100% - 3.5rem);
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    display: flex;
    top: 40px;
    justify-content: center;
    .otp_inner{
        background: $popup-mobile-bg;
    color: $grey-text-color;
    padding: 50px 30px 50px;
    display: block;
    position: relative;
    width: 560px;
    max-width: 100%;
    .cross_icon{
        position: absolute;
        right: 15px;
        top: 19px;
        cursor: pointer;
    }
    }
    h1{ font-size:28px; margin-bottom:28px; text-align: center; font-weight: 400; color:$text-color;
        @include breakpoint(mac){font-size: 26px; margin-bottom:50px;}
        @include breakpoint(laptop){font-size: 24px; margin-bottom:28px;}
        @include breakpoint(tablet){font-size: 22px; margin-bottom:25px;}
        @include breakpoint(mobile){font-size: 20px;}
    }
    .p_title {
        color: $text-color;
        font-size: 28px;
        font-weight: 400;
        margin: 0px 0 4px; text-align: center;
        @include breakpoint(mac) {
          font-size: 22px;
          margin: 16px 0 4px;
        }
        @include breakpoint(tablet){font-size: 20px;}
        @include breakpoint(mobile){margin-bottom: 6px;}
        @include breakpoint(mobile-common-land){font-size: 18px;}
        @include breakpoint(mobile-common){font-size: 15px;}
        @include breakpoint(mobile-x-small){font-size: 13px;}
      }
      .sub_heading {
        font-size: 16px;
        margin: 10px 0 50px;
        color: $text-color;
        opacity: 0.65; text-align: center;
        @include breakpoint(mac) {
          font-size: 16px;
          margin-bottom: 50px;
        }
        @include breakpoint(desktop-small){font-size: 14px;}
        @include breakpoint(tablet){font-size: 13px;}
        @include breakpoint(mobile){margin: 0 0 20px;}
      }
    .ptagStyle{
        font-size: 14px;
        color: $text-color;
        font-weight: 400;
        margin: 0 auto 40px;
        max-width: 360px;
        text-align: center;
    }
    form{ 
        input{ color:$text-color !important; padding: 14.5px 14px; opacity: 0.6; }
        label{font-size: 14px; position: absolute;}
    }
    .show{  color: $grey-text-color; font-size: 14px; position: absolute; top:32px; right:10px; display: block;
        cursor: pointer;
        &:hover{ color:$text-color; transform: all 0.5s;}
    }
    .forgot{ position: relative; height: 92px; text-align: left;
        .valid_error{bottom: 5px; color: $danger; position: absolute;
            font-size: 12px;}
            .resendCode{right: 0; bottom: -10px;
                color: $primary-color; position: absolute;
            font-size: 14px;
            cursor: pointer;
            }
            .resendCount{
                color: $grey-text-color;
            }
    }
    
    .button{ height:44px; line-height: 44px; margin-top: 20px; text-transform: none; width: 100%; font-size: 14px;
        &.default{ margin-top:0 !important}
    }
    .text_danger1{ position: relative; color:$danger; font-size:14px;left:0; right:0; margin:auto;
        text-align: center;
        span{word-break: break-word;}
    }  
    .text_success1{ position: relative; color:green; font-size:14px;left:0; right:0; margin:auto;
        text-align: center;top:20px;
        span{  position: absolute;left: 0;right: 0;word-break: break-word;}
    }    
    .md_label{ color:$grey-text-color; display: block; text-align: center; margin-top: 18px; font-weight: 600;     font-size: 14px;
        @include breakpoint(mac){margin-top: 40px;}
        span,a{ color:$grey-text-color; margin-left:5px; font-weight: 600; cursor: pointer;}
        span{color: $grey-text-color; 
            font-weight: 400;}
    }

    .signin_footer{ display: flex; flex-direction: column; position: relative; text-align: center; left:0; right:0; width:100%;
        display: block; text-align: center;
        @include breakpoint(mobile){flex-direction: column-reverse;}
        
    }
    .sigin_error{color: $danger; text-align: center; font-size: 12px;  position: absolute; bottom: -25px;}
}
}


