@import 'variables.scss';
.my_account{
 /*background-color: $header-background-color;*/ /*box-shadow: $header-shadow;*/ 
//   z-index: 30; font-size: $header-menu-font-size; color: $header-menu-font-color; position:relative;
//   @media (max-width: 950px) { background: $header-background-color;}
//   @include breakpoint(mobile) { background: none ;}
//   @media (max-width: 400px)  { }


  .mega_menu{ width:100%; height:100%; display: none; left: 0; margin: auto; z-index:100;
    text-align: center; position: fixed; overflow-x: hidden; overflow-y: auto; top:30px;
    @include breakpoint(mac) { top:20px;}
    @include breakpoint(tablet) { top:0;}
    @media (max-width: 950px){ display: block;}
    .mega_menu_parent{ width:calc(100% - 116px); background: #222; color:$text-color;
      position: relative; top:40px; left:58px;  display: flex; text-align:left;
      @include breakpoint(mac) { width:calc(100% - 70px); left:35px;}
      @media only screen and (max-width: 1199px) and (min-width: 991px){width:calc(100% - 60px); left:35px;}
      @include breakpoint(tablet) { display:block; width:100%; padding:0; left:0; top:0; background: $body-color; position:relative; height:100%;}
      .mega_menu_close{ top:-40px; left:0px; cursor : pointer; position: absolute;
        @include breakpoint(mac) { top:-46px; left:20px;}
        @include breakpoint(desktop-small) { top:-45px; left:-7px;}
        @include breakpoint(tablet) { display:none;}
      }

      .mega_menu_inner{ display: block; overflow: hidden; padding:30px; width:100%;
        @include breakpoint(tablet) { padding:0;
        }
        .mega_menu_header{ display:none; padding:0 20px;padding: 0;
          position: fixed;
          width: 100%;
          z-index: 90;
          @include breakpoint(tablet) { background: #1E1E1E; display: block; height:52px; line-height: 52px; align-items: center;
            .back_btn{ float:left; margin-right:15px; padding-left: 20px;
              img{ vertical-align: middle; width: 23px;}
            }
            .profile_img{ width:26px; height:26px; line-height: 26px; text-align: center; position: relative; top:15px;
              background:#999; border-radius:50%; margin:0 8px 0 0px; float:left; 
              @include breakpoint(tablet) { width:36px; height:36px; top:10px; margin-right:14px;}
              img{ display:none;
                @include breakpoint(tablet) { display:block; border-radius: 4px; width: 100%; height: 100%;}
              }
            }
          }
          .menu_header{font-size:14px; position: relative; width:calc(100%);
            float:left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
            @include breakpoint(tablet) { font-size:16px;}
            h1{ z-index:100;
              a{color: $text-color; font-size: 14px; font-weight: 300;
                display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
              }
              @include breakpoint(tablet) { font-size:16px; height:52px; line-height: 52px; font-weight: 500;}
            }
          // &:after{ content: ""; top: 6px; right:5px;
          //     border: solid #ccc; border-width: 0 3px 3px 0; display: inline-block; padding: 5px;
          //     transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute;
                      
          //   }
          }
          .profile_head{
            &:after{ display: none; content: ""; transition: all 0.5s ease-in-out;
              @include breakpoint(tablet) { content: ""; top: 24px; right:25px;
                border: solid #ccc; border-width: 0 2px 2px 0; display: inline-block; padding: 5px;
                transform: rotate(-135deg); -webkit-transform: rotate(-135deg); position: absolute;      
              }
            }
            &.accordion-item--isClose{
              &:after{ -webkit-transform: rotate(45deg); transform: rotate(45deg); top:20px;
                  //@include breakpoint(mobile) {  border-width: 0 2px 2px 0; top:24px;}
              }
          }
          }
          .no_profiles{
              @include breakpoint(tablet) { background: #141414; display: block; height:56px; line-height: 56px; align-items: center;
              .back_btn{ float:left; margin-right:15px;}
              .profile_img{ width:26px; height:26px; line-height: 26px; text-align: center; position: relative; top:15px;
                background:$primary-color; border-radius:50%; margin:0 8px 0 0px; float:left;border: 1px solid #ff9841;}
              }
              .menu_header{font-size:14px; position: relative; width:calc(100% - 90px);
                float:left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
                @include breakpoint(tablet) { font-size:16px;}
              }
          }

        }
        .myAccount_menu_list{margin-top: 68px; padding: 0 14px;
         .without_login{display: flex; padding: 12px 15px; background: #2D2B2B; border-radius: 8px; align-items: center;
          img{width: 40px; height: 40px; margin-right: 12px;}
          h3{font-size: 14px; font-weight: 600;}
        }
        .login_btn{ margin-top: 12px;
           a{height: 54px; width: 100%; display: flex; align-items: center; background: $primary-color; border-radius: 8px; color: #fff; text-align: center; justify-content: center;
            font-style: 14px; font-weight: 600;
          }
        }
        .account_menus{ margin-top: 20px;
          .menu_group{
            .title{font-size: 14px; font-weight: 500;}
            .menu_list{background: #2D2B2B; border-radius: 8px; margin-top: 10px; margin-bottom: 20px;
             ul{
              padding: 4px 0;
              li{padding: 12px 20px 12px 12px; position: relative; font-weight: 400;
                .menu_icon{vertical-align: middle; margin-right: 12px;}
               .arrow{position: absolute; right: 20px;}
              }
             }
            }
          }
        }
          .profiles_container{
            background: #2D2B2B; border-radius: 8px; padding: 12px 16px; position: relative;
            .edit{position: absolute; top: 12px; right: 16px;}
            .profile_hd{font-size: 14px;}
            .profiles_list{display: flex; margin-top: 12px;  overflow: auto;
             .accountMobile_Info{width: 40px; margin-right: 24px; text-align: center;
               .profile_info{width: 40px; height: 40px;
                .profile_icon{position: relative; border-radius: 50%; 
                  &.selected{
                     .profile_img{border: 2px solid #fff;}
                  }
                  img{width: 100%; height: 100%; border-radius: 50%;}
                  .kids_tag{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: $primary-color;
                    font-size: 10px; padding: 0 5px; border-radius: 30px;
                  }
                  .lock{position: absolute; top: -2px; width: 15px; height: 15px; right: -4px; background: #2D2B2B; border-radius: 50%; padding: 2px;}
                }
                
                 .profile_name{font-size: 10px; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;}
              }
              }
              .profile_details{
                .profile_details_inner{
                  .subprofile_list{ display: flex;
                    .profileData{
                      // &:last-child{
                      //   .profileDetails{margin-right: 0px;}
                      // }
                        .profileDetails{width: 40px;  text-align: center; margin-right: 20px;
                          
                          .profile_icon{ position: relative;
                             img{width: 40px; height: 40px; }
                          .kids_tag{position: absolute; bottom: 2px; left: 50%; transform: translateX(-50%); background: $primary-color;
                    font-size: 10px; padding: 0 5px; border-radius: 30px;
                  }      
                  .lock{position: absolute; top: -2px; width: 15px; height: 15px; right: -4px; background: #2D2B2B; border-radius: 50%; padding: 2px;}
                          }
                          .profile_name{font-size: 10px; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;}
                      }
                    }
                    
                  }
                }

              }
               .add_profile{ 
                .inner{width: 40px; height: 40px; background: #141414; border-radius: 50%;
                  display: flex; align-items: center; justify-content: center; margin: 0 auto;
                 img{width: 15px;}
                }
                .profile_name{font-size: 10px; text-wrap: nowrap;}
              }
            }
          }
          .subscription_button_container{ margin-top: 12px;
            button{width: 100%; height: 54px; border-radius: 8px; padding: 17px 16px; text-align: left; display: flex; align-items: center;
              position: relative; color: #fff; background: $primary-color;
              img{margin-right: 8px;}
              &.subscribe_button, &.upgrade_button{
                background: linear-gradient(135deg, #FDB644, #BF8629);
                font-weight: 600; font-size: 14px;
                color: #000;
              }
              .arrow{position: absolute; right: 20px; margin: 0;}
             
            }
          }
        }
        .mega_menu_headerAcc {
          width: 100%; position: absolute; top:0; left:0; width:100%;background-color: $primary-color;
          z-index: 1;
          &.normalMobile_header{ background-color: $primary-color;}
          .back_btn {
            img {width: 20px;margin-right: 15px; margin-top: 12px;}
          }
          .arrow{fill: #fff;}
          .profile_img{ line-height: 36px; text-align: center; position: relative; top:3px;
            background:$profile-icon-bg; border-radius:4px; margin:0 8px 0 0px; float:left; 
            
            @include breakpoint(tablet) {
              width: 36px;
              height: 36px;
              line-height: 26px;
              text-align: center;
              position: relative;
              top: 0px;
              background: transparent;
              border-radius: 4px;
              margin: 0 8px 0 0;
              float: left;
            }
            img{ display:none; width:26px; height:26px;
              @include breakpoint(tablet) { display:block; border-radius: 4px; width: 100%; height: 100%;}
            }
            &.OrkprofileFile{
              width:25px; height:25px; 
            }
          }
          span{color: $text-color;}
          .profileNameTop { width: 100%; min-height: 60px !important;
            display: flex; align-items: center;
            .profile_info {display: flex; align-items: center;}
            .accountMobile_Info{
              display: flex;
              justify-content: space-between;
              width: 100%;
              align-items: center;
              &.accountMobile_Info_noPfl{
                 padding: 0px 16px;
                 
              .searchIcon{    width: 22px;}
              }
            }
            .menu_header {
              font-size: 16px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: $text-color;
            }
          }
          .profile_details{ background: #232323;
            .profile_details_inner {
              
              .profile_info {
                .subprofile_list{
                  .profileData{
                    position: relative;
                    div {
                      display: flex; gap: 14px; align-items: center; padding: 10px 9px;
                      .subprofile_img{ width: 28px; height: 28px; border-radius: 4px; }
                    }
                    .profile_lock {position: absolute; right: 16px; top: 16px;}
                  }
                }
              }
              .devider{width: calc(100% + 12px);
                height: 1px;
                margin: 15px -6px;
                background: rgba(255, 255, 255, 0.1);
                display: block;
                padding: 0 9px;}
            }
           .manage{
            a{
              text-decoration: none;
              color: $text-color;
            opacity: 0.65;
            }
            padding: 10px 9px;
            
           }
          }
        }
        .mobile_oth_menu{ display:none;background: $body-color;
          @include breakpoint(tablet) {  display:block; padding-bottom:20px;}
            li{ font-size:15px; opacity: 0.65; cursor: pointer; margin-bottom:3px; text-transform: capitalize; 
              margin: 0px 16px; position: relative; padding: 22px 9px; /*border-bottom: solid 1px #333;*/
              @include breakpoint(mac) { font-size:14px;}
              @include breakpoint(tablet) { font-size:14px; padding:15px 5px;}
              &.profile{margin: 0; padding: 10px 9px;}
              &.devider{width: calc(100% + 12px);
                height: 1px;
                margin: 10px -6px;
                background: rgba(255, 255, 255, 0.1);
                display: block;
                padding: 0 9px;}
              &.manage{ margin:0px; padding:10px 9px;}
              &:hover{ opacity:1;}
              &.profile_info{padding: 5px 16px 10px 16px; margin:0; background: #222; opacity: 1; width: 100%;
                overflow: hidden;
              }
              &.remove_bot_pad{padding-bottom: 0; padding-top:0; transition: all 0.5s;}
              &.accordian{
                &:after{ content: ""; top: 28px; right:9px;
                  border: solid #ccc; border-width: 0 2px 2px 0; display: inline-block; padding: 5px;
                  transform: rotate(-45deg); -webkit-transform: rotate(-45deg); position: absolute;
                  @include breakpoint(tablet) { top:22px;} 
                }
              }
              .profile_list{
                &:after{display: none;}
              }
              .profile_list .profile, .profile &.manage{ 
                &:after{
                  @include breakpoint(tablet) { display: none;}
                }
                &.border{ border:solid 1px #333; margin-top:5px;}
              }
              
              &.clickable:hover{ color:$text-color; opacity: 1;}
              .profile_list .profile_img,.profile_img{ display: none; position: relative;
                @include breakpoint(tablet) { display: block;
                  img{ width:28px; height:28px; border-radius:4px; margin-right:18px; position: absolute;}
                  .span{ font-size:14px; color:#f5f5f5; }
                  .profile_name{ line-height: 28px; display: block; overflow: hidden; 
                    white-space: nowrap; text-overflow: ellipsis; padding: 0 50px 0 40px; width: calc(100% - 30px);}
                }
              }
            }
          }
          .sign_out{ width:100%; height:56px; line-height: 56px; border-radius: 8px; color: #fff;
            background-color: #2D2B2B; margin-bottom: 20px;
             display: block; font-size:14px; padding: 0 16px; text-align: left;
             img{margin-right: 16px; vertical-align: middle;}
          }
      }
    }
  }
.link_hover{
  padding: 5px 10px;
  margin: none;
}
.link_hover:hover{
  background-color: #2a2a2a;
  padding: 5px 10px;
  // margin: 5px 1px;
  box-sizing: border-box;
}

}

.account_info {
  .Mui-expanded {
    margin: 0 !important;
  }

}

.ccBlock{
  justify-content: space-between; display: flex; align-items: center;
}
.vdQuality {
  font-size: 14px;
  display: block !important;
  width: 100%;
  // margin-bottom: 10px;
  border-bottom: 1px solid #333;
  &:last-child {
    border: none;
  }

  .radio{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background: #000;
    display: none;
    border-radius: 50%;
    width: 100%;
    &.selected ~ .check_radio {
      border-color: #fff;
      opacity: 1;
      &::after {
        transform: scale(1);
        transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
        opacity: 1;
      }
    }
  }
  .check_radio{
    position: relative;
    display: block;
    float: left;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
    @include breakpoint(mobile) {
      border-width: 2px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 4px;
      left: 4px;
      margin-right: 10px;
      border-radius: 100%;
      background: #fff;
      transform: scale(0);
      transition: all 0.2s ease;
      // opacity: 0.08;
      pointer-events: none;
      box-sizing: border-box;
    }
  }
  .sm_label {
    opacity: 1;
    font-size: 14px;
  }
}
.qualitySettings{
  border-radius: 4px;
  overflow: hidden;
  .mega_menu{
    background: rgba(0, 0, 0, .6);

  }
  .mega_menu_parent{
    background: none !important;
    overflow:  hidden !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
 
  .mega_menu_inner{
    padding: 15px   !important;
    // position: absolute;
    // inset: 0;
    height: fit-content;
    // width: 88% !important;
    // background: #262626 !important;
    border-radius: 4px;
    z-index: 3;
        max-width: 500px;
    display: flex !important;
    justify-content: center;
    .mega_quality_menu_inner{
      max-width:500px;
      width: 100%;
      background: #262626 !important;
      border-radius: 4px;
    }
  }
  .mobile_oth_menu{    
  background: #262626 !important;
  }
  .mega_menu_header{
    background: #262626 !important;
    position: relative !important;
    padding-top: 10px !important;
    border-radius: 4px;
    .menu_header{
      align-items: center;
      justify-content: center;
      display: flex;
    }
    h5{ 
      
      @include breakpoint(tablet) { font-size:26px; padding-bottom:15px;}
      @include breakpoint(mobile) {font-size:20px; font-weight: bold; padding-bottom:10px; line-height: normal;}
      @media (max-width: 400px) { font-size:17px; }
      font-weight: 400 !important;
      font-size: 1.5em !important;
      border-bottom: 1px solid #333;  
      color: #9ea2ac;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      margin: 0px 10px 0px 20px;
 }
  }
  .back_btn{
    position: absolute;    
        right: 7px;
    top: -9px;

    margin-right: 0px !important;
    img{
      cursor: pointer;
    }
  }
  .mobile_oth_menu{
    margin-top: 0px !important;
    padding-top: 20px !important;
    margin-bottom: 30px;
  }
  .sm_label{
    font-size: 16px !important;
    font-weight: 300;
  }
}
