@import 'variables.scss';

#banner_cont{ background: $banners-bg;}

.banners_wrap{
  position: relative;
  padding-bottom: 35%;
  @include breakpoint(tablet) {padding-bottom: 0; padding-top: 15px;}
  .banner_cont{
    margin-top: 0px !important;
    position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      @include breakpoint(tablet) {position: relative; }
    }
    &.freedomTv{
      
  padding-bottom: 0%;
  .banner_cont{

    position: relative;
  }
    }
}


.swiper{ margin-top:20px;}
.img_responsive{position: relative;   transition: 2ms; 
  @include breakpoint(tablet){display: block !important;}
  &.img_aplyZIndex{ position: absolute;
  z-index: 0; 
  @include breakpoint(tablet){position: relative;}
}}
.JWPlayers_parent{display: block; 
  @include breakpoint(tablet){display: none ;}}

.imgContainer {
  height: auto;
  width:100vw;
  position: relative;
  img {
    position: relative  !important;
    cursor: pointer;

  }
  &::before{ content:""; position: absolute; bottom:0px; left:0; width:100%; height:36%; 
    background-image: $banners-gradient;
    z-index: 1;
    // @include breakpoint(mobile){ bottom:5px;}
  }
}

.prev,
.next {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  padding: 3px;
  width: 60px;
  height: 60px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background: $banners-btns;
  border-radius: 50%;

  &:before {
    content: "";
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0px;
    margin-left: 5px;
    position: absolute;
    left: 3px;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    transform: rotate(135deg);
    width: 12px;
    height: 12px;
  }
}
.prev {
  left: 30px;
}
.next {
  right: 30px;
  &:before {
    transform: rotate(-45deg); left:0; right:3px;
  }
}


  .customPaginationClass{ 
    bottom: calc(15% + 50px) !important;
    @include breakpoint(mobile) {bottom: 8px !important;}
  }

.videoCustomPaginationClass{ bottom: calc(33% + 50px) !important;
  @include breakpoint(mobile) {bottom: 8px !important;}}
.player_mute{
  position: absolute;
  right: 4%;
  width: 35px !important;
  margin: 6px;
  height: 35px !important;
  z-index: 9999;
  background: $banners-btns;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: calc(48% - 100px);
  

}
 

