@import "variables.scss";

.container {
  color:var(--arrow-color);
  padding: 1.5rem;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  // background: #1e1e1e;

  @include breakpoint(mac) {
    width: 1100px;
  }

  @include breakpoint(laptop) {
    width: 900px;
  }

  @include breakpoint(tablet) {
    width: auto;
    padding-top: 0;
  }

  @include breakpoint(mobile) {
    padding: 0;
    // background: #1d1d1d;
  }

 
}

.headerdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .headerleft {
    display: flex;
    gap: 10px;
    h2 {
      font-size: 24px;
      font-weight: 500;
  
      @include breakpoint(laptop) {
        font-size: 22px;
      }
      @include breakpoint(laptop) {
        font-size: 18px;
      }
      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
    & > img {
      display: none;
      cursor: pointer;
      @include breakpoint (mobile){display: block;}
    }
  }

  .headerright{display: none;
  @include breakpoint(mobile){display: block;}}

  
@include breakpoint(mobile){margin: 0px 10px 20px 15px;padding-top: 20px;}
 
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  

  button {
    background-color: transparent;
    color: var(--arrow-color);
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;

    @include breakpoint(laptop) {
      font-size: 14px;
    }

    @include breakpoint(mobile) {
      border: none;
      background: transparent;
      border-radius: 0;
      opacity: 0.7;
      white-space: nowrap;
      padding-bottom: 20px;
      border-bottom: 3px solid transparent;
    }

    &.active {
      background-color: $grey-color;

      @include breakpoint(mobile) {
        background-color: transparent;
        border-bottom: 3px solid  var(--arrow-color);
        opacity: 1;
      }
    }
  }
  @include breakpoint(mobile) {
    overflow: auto;
    gap: 0;
    margin-bottom: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* WebKit browsers */
    }
  }
}

.likedVideoList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    @include breakpoint (mobile){padding: 0 20px;padding-top: 20px;}
  }
  @include breakpoint (mobile){background-color:var(--setting-bg);}
}
