@import "variables.scss";
.shortsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 0px 0px;
  overflow: hidden;
  @include breakpoint(laptop) {
    padding: 100px 0px 0px;
  }
  @include breakpoint(tablet) {
    padding: 0px;
  }
  .shortsLayOut {
    display: flex;
    height: 83vh;
    width: 100%;
    overflow: hidden;
    text-align: center;

    @include breakpoint(mobile) {
      height: calc(100vh);
    }
    .videoSwiperCont {
      // margin-top:10px;
      .video_Tag {
        width: 20vw;
        background: #222;
        &.dishTvVideo {
          width: 276px;
          @include breakpoint(mobile) {
            width: 100%;
          }
        }
        @include breakpoint(tablet) {
          width: 35vw;
        }
        @include breakpoint(mobile) {
          width: 100%;
          height: 100%;
        }
      }
      .slider_children {
        scroll-snap-align: start;
        background: none;
        position: relative;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        height: 83vh;
        @include breakpoint(mobile) {
          width: 100%;
          height: 100%;
        }
        .backIcon {
          margin-top: 10px;
          position: absolute;
          left: -50px;
          button {
            background: none;
            img {
              width: 36px;
            }
          }
          @include breakpoint(mobile) {
            display: none;
          }
        }

        video {
          @include breakpoint(mobile) {
            max-height: calc(100vh - 115px);
            overflow: hidden;
          }
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100% - 20px);
          height: 36%;
          background-image: linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0) 5%,
            rgba(20, 20, 20, 0.4) 35%,
            rgba(20, 20, 20, 0.73) 78%,
            #141414
          );
          padding: 0 10px;
          z-index: 9;
        }

        &:hover {
          .video_center {
            display: flex !important;
          }
        }

        .overlayBtns {
          position: absolute;
          top: 20px;
          padding: 0px 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          div {
            display: flex;
            gap: 5px;
          }

          .backBnt {
            display: none;
            background: none;

            @include breakpoint(mobile) {
              display: block;
            }
          }
          .video_center {
            // background: white;
            border: none;
            border-radius: 50%;
            background: none;
            &.overPlay {
              display: flex !important;
              position: relative;
              margin: 0;
            }
            .web {
              width: 35px;
              height: 35px;

              &.short_play {
                width: 34px;
                height: 34px;
              }
            }
            // padding: 2px;
          }
        }

        // .video_Topcontent{ position: absolute; z-index: 1;
        //   img{ width:35px;}
        //   // .share{
        //   //   margin-bottom:20px;
        //   // }
        // }
        .slider_children:after {
          p {
            position: absolute;
            bottom: 10px;
            left: 0;
          }
        }
        .video_center {
          display: none;
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          top: 0;
          bottom: 0;
          opacity: 0.8;
          cursor: pointer;
          background: transparent;
          align-items: center;
          justify-content: center;
          z-index: 10;
          &.showPlayBtn {
            display: flex !important;
          }
          img {
            width: 50px;
            @include breakpoint(mobile) {
              width: 30px;
            }
          }
        }
        .video_bTMcontent {
          position: absolute;
          bottom: 15px;
          left: 0;
          z-index: 99;
          padding: 0 10px;
          text-align: left;
          width: 100%;
          @include breakpoint(mobile) {
            width: calc(100% - 40px);
            bottom: 60px;
            height: 7vh;
          }

          .parentIcon {
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
            img {
              width: 40px;
            }

            label {
              margin: 0;
              font-weight: 400;
              font-size: 15px;
              @include breakpoint(mobile) {
                font-size: 12px;
              }
            }
          }

          p {
            font-size: 19px;
            margin-bottom: 3px;
            word-break: break-all;
            display: -webkit-box;
            max-height: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            white-space: normal;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 100%;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: wrap !important;
            @include breakpoint(mobile) {
              width: calc(100% - 40px);
              font-size: 14px;
            }
          }
          span {
            font-size: 12px;
            color: #ccc;
            line-height: 18px;
            display: block;
          }
        }
      }
      .shortsVideo {
        display: flex;
        flex-direction: column;
        position: relative;
        background: transparent;
        min-height: 80vh;
      }
    }
  }

  .shortsNavTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    height: calc(100vh - 80px);
    position: absolute;
    left: calc(50vw + 10vw + 10px);
    margin: 0 auto;
    z-index: 1;
    bottom: 0;
    @include breakpoint(tablet) {
      left: calc(50vw + 17.5vw + 10px);
    }
    @include breakpoint(mobile) {
      right: 0px;
      bottom: 30px;
      left: 0px;
      width: 60px;
      margin: 0 0 0 auto;
      z-index: 10;
      height: fit-content;
    }
    &.dishTvVideo {
      left: calc(50vw + 158px);
    }
    .shortsControls {
      position: relative;
      @include breakpoint(tablet) {
        margin-top: 10px;
      }
      @include breakpoint(mobile) {
        display: none;
      }
      .next {
        margin-bottom: 10px;
        position: relative;
      }
      .next,
      .prev {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        background: #303030;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include breakpoint(laptop) {
          width: 35px;
          height: 35px;
        }
        &:hover {
          background: #444;
          transition: all 0.5s;
        }
        &:after {
          content: "";
          border: solid #fff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 5px;
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          border-radius: 2px;
          top: 2px;
          position: relative;
          @include breakpoint(laptop) {
            padding: 4px;
          }
        }
      }
      .prev {
        top: 35px !important;
        margin-top: 20px;
        @include breakpoint(laptop) {
          margin-top: 15px;
        }
        &:after {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          top: 0;
          bottom: 2px;
        }
      }
      .applyOpc {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    .share_btn {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      color: inherit;
      font-size: 12px;
      align-items: center;
      gap: 7px;
      margin-top: 15px;
      .video_share {
        cursor: pointer;
        width: 52px;
        @include breakpoint(laptop) {
          width: 42px;
        }
        @include breakpoint(mobile) {
          display: none;
        }
        &.mobileView {
          display: none;
          @include breakpoint(mobile) {
            display: inline;
            width: 24px;
          }
        }
      }
      .solarEye {
        cursor: default;
      }
      .views{
        font-size: 12px;
        font-weight: 500;
        display: block;
        margin-top: 0px;
      }
    }
    .shareControls {
      position: relative;
      &.dishControls {
        display: flex;
        flex-direction: column;
        bottom: 25px;
        @include breakpoint(mobile) {
          bottom: 0;
        }
      }
      .video_Topcontent {
        position: relative;
        .volume {
          background: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-bottom: 30px;

          @include breakpoint(mobile) {
            margin-bottom: 0px;
          }
        }

        img {
          width: 25px;

          @include breakpoint(mobile) {
            width: 30px;
          }
        }

        // .share {
        //   margin-bottom: 20px;
        // }
      }
    }
  }
}

.swiper-button-next {
  left: 0;
  top: 5px;
}

.progressBar {
  position: absolute;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  padding: 8px 0px 0px;
  width: 100%;
  z-index: 40;
  .innerprogressBar {
    height: 3px;
    background-color: white;
  }
  cursor: alias;
  .totalplayVideo {
    width: 0px;
    height: 100%;
    padding: 0px;
    background-color: #e7195a;
  }
}
.web {
  display: block;
  @include breakpoint(mobile) {
    display: none;
  }
}

.mobile {
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}
.moreBTNs {
  display: none;
  position: absolute;
  background-color: var(--body-color);
  border-radius: 12px;
  right: 35px;
  bottom: 0;
  button {
    display: flex;
    padding: 15px 40px 15px 15px;
    color: var(--arrow-color);
    font-size: 16px;
    border-radius: 14px;
    gap: 12px;
    background-color: inherit;
    white-space: nowrap;
    width: 100%;
    @include breakpoint(mobile) {
      font-size: 14px;
    }
    img {
      width: 25px;
      height: 24px;
    }
    &:hover {
      background-color: #444;
    }
  }
}

.shorts_More {
  position: relative;
  @include breakpoint(mobile) {
    img {
      width: 30px;
      height: 30px;
    }
  }

  &:hover {
    .moreBTNs {
      display: block;

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
}
.moreBTNs_mobile {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: none;
  z-index: 10;
  right: 0;
  .btn1{
    position: absolute;
    bottom: 0px;
    background-color: #2D2D2D;
    width: 100%;
    button{
      width: 100%;
      display: flex;
      align-items: center;
      height: 50px;
    }
    img {
      width: 25px;
      height: 24px;
    }
  }
  // .btn2{
  //   position: absolute;
  //   bottom: 50px;
  //   background-color: #444;
  //   img {
  //     width: 25px;
  //     height: 24px;
  //   }
  // }
  

  @include breakpoint(mobile) {
    display: block;
  }
}
