@import 'variables.scss';



.signin_cont_page {
    width:100%; min-height:100vh; margin:0 auto; background: #0d0d15; position: fixed; height:100%; overflow: auto;   
    background: $signin-pg-image; 
    background-size: cover;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    @include breakpoint(tablet){  position: relative;text-align: center; }   
    @include breakpoint(mobile){  background:  $sigin-mobile-bg; }  
    .tablet_logo{  position: fixed; cursor: pointer; max-width: 180px; max-height: 80px;  margin: 40px; z-index: 1;
        @include breakpoint(laptop){ max-width: 140px; max-height: 66px;
            margin: 30px; }
        @include breakpoint(tablet){  position: relative;  max-width: 130px;  max-height: 60px;
            margin: 30px 0px 20px; }
        @include breakpoint(mobile){ max-width: 120px;  max-height: 55px; display: none;
            margin: 20px;}
    }
    .mobileBack{
        display: none;
        width: 100%;
        @include breakpoint(mobile) {
            display: flex;
            padding: 20px 0 20px 20px;
            background: $sigin-mobileback-bg;
            gap: 10px;
            font-weight: 400;
            text-align: left;
            .back_btn{
                img{vertical-align: middle; height: 100%;}
            }
            h2{font-size: 20px; font-weight: 500;
                @include breakpoint(mobile-common-land){font-size: 18px;}
            }
        }
    }
    .signin_cont{
        padding: 50px 40px 70px;
        display: block; height: fit-content;
        width: 480px;
        margin: 80px auto 30px;
        background: $signin-bg;
        position: relative;
        border-radius: $signin-border-radius;
        @include breakpoint(mac){ width:450px;}
        @include breakpoint(laptop){ width:480px;margin: 60px auto 30px; padding: 40px 30px 60px;}
        @include breakpoint(tablet){width:450px; margin:50px auto 30px;padding: 30px;}
        @include breakpoint(mobile){background: $sigin-mobile-bg;  padding:0px 20px; width:100%; max-width: 450px;}
        h1{ font-size:28px; margin-bottom:28px; text-align: center; font-weight: 400;
            @include breakpoint(mac){font-size: 26px; margin-bottom:50px;}
            @include breakpoint(laptop){font-size: 24px; margin-bottom:28px;}
            @include breakpoint(tablet){font-size: 22px; margin-bottom:25px;}
            @include breakpoint(mobile){display: none;}
        }
        form{ 
            input{ color:$grey-text-color; padding: 14.5px 14px; }           
            label{font-size: 14px; position: absolute; user-select: none;}
        }         
        .forgot{ position: relative; height: 92px; text-align: left;            
            .valid_error{bottom: 5px; color: $danger; position: absolute;
                font-size: 12px;}
        }
        .show{  color: $grey-text-color; font-size: 14px; position: absolute; top:32px; right:10px; display: block;
            cursor: pointer; user-select: none;
            &:hover{ color:$text-color; transform: all 0.5s;}
        }
         .button{ height:44px; line-height: 44px; margin-top: 50px; text-transform: none; width: 100%;  
        }  
        .text_danger1{ position: relative; color:$danger; font-size:14px;left:0; right:0; margin:auto;
            text-align: center;
            span{ text-align: center; margin:0 auto;word-break: break-word;     position: absolute;
                left: 0;
                right: 0;}
        }
        .tabletHide{
            @include breakpoint(mobile){display: none;}
        }
        .mobileShow{
            display: none;
            @include  breakpoint(mobile){display: block;}
        }     
    }
   
   
}
