@import "variables.scss";
.tablet_logo{  position: fixed; cursor: pointer; max-width: 180px; max-height: 80px;  margin: 40px;
  @include breakpoint(mac){ margin: 30px;}
  @include breakpoint(laptop){ max-width: 140px; max-height: 70px;
      margin: 30px; }
  @include breakpoint(tablet){  position: relative;  max-width: 130px;  max-height: 60px;
      margin: 30px 0px 20px; }
  @include breakpoint(mobile){ max-width: 120px;  max-height: 55px; 
      margin: 20px;}
}
.profile_page {
  padding: 54px 58px;
@include breakpoint(tablet){padding: 20px;}


  .create_profile_page {
    text-align: center;
    display: block;
    overflow: hidden;
    background: $profile-popup-bg;
    padding: 62px;
    width: 600px;
    margin: 0 auto;
    min-height: 80vh;
    max-height: 550px;
    box-shadow: 0 0 4px #00000026;
    border-radius: 4px;
    @include breakpoint(mac) {
      width: 450px;
      padding: 40px;
    }
    @include breakpoint(laptop){width: 400px; padding: 30px;}
    @include breakpoint(tablet){width: 400px; max-width: 100%; padding: 30px;}
    @include breakpoint(mobile){    padding: 20px 20px 40px;
        min-height: 70vh;}
    h1 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 10px;
      @include breakpoint(mac){font-size: 22px;}
      @include breakpoint(laptop){font-size: 20px;}
    
    }
    .sub_text {
      font-size: 17px;
      // font-weight: 100;
      opacity: 0.45;
      @include breakpoint(mac){font-size: 14px;}
    }
    form {
      margin-top: 30px;
      text-align: left;
      input{ color:$grey-text-color; padding: 14.5px 14px; }           
      label{font-size: 14px; position: absolute; user-select: none;}
      .valid_error {
        font-size: 12px; color: red;position: absolute;
      }
    }
    .footer_actions {
      margin-top: 120px;
      @include breakpoint(mobile){margin-top: 80px;}
      .btn {
        font-size: 16px;
        padding: 10px 2px;
        margin-right: 16px;
        width: 100%;
        color: $text-color;
        border-radius: 2px;
        background: light-dark(rgba(239, 239, 239, 0.3));
        cursor:default;
        @include breakpoint(laptop){padding: 8px 2px;}
        &.enabled{
          background: $primary-color;
          cursor: pointer;
        }
      }
    }
  }
}
