@import "variables.scss";

.listHome {
  .listTitle {
    color: $white-color;
    font-size: 22px;
    font-weight: 400;
    display: none;  
    margin: 100px 0 0px 0;
    @include breakpoint(mac){font-size: 20px;}
    @include breakpoint(mobile){margin: 12px 0 0px 0;}
  }

  .listItems {
    .cardItem {
      display: inline-block;
    }
  }
}
