@import 'variables.scss';


.logo {
    position: fixed; left: 30px; top: 30px;
    max-width: 160px;max-height: 60px; z-index: 1;          
    width: auto;
    height: auto;
    
      @include breakpoint(mac) {max-width: 140px; max-height: 50px;}
    @include breakpoint(tablet){ left:0; right:0; margin:auto; top:20px; position: absolute; display: none;}
    @include breakpoint(mobile){ }
}