@import "variables.scss";

.select_displaylang {
  width: 100%;
  margin-top: 61px;
  @include breakpoint(mobile-common-land){margin: 0;}
  .language_row {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    position: relative;
    margin: 0 !important;
    .lang_item {
      float: left;
      padding: 7px;
      list-style-type: none;
      width: 100%;
      flex: 0 0 100%;
      margin: 0 !important;
      @include breakpoint(mobile-common-landl) {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 10px;
      }
      label {
        background-color: #454545;
        width: 100%;
        color: #9ea2ac;
        border-radius: 2px;
        font-size: 14px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
        padding: 13px 15px;
        text-align: left;
        cursor: pointer;
        float: left;
        display: block;
        position: relative;
        border-radius: 4px;
        @include breakpoint(mac) {
          padding: 25px 12px 9px;
        }
        @include breakpoint(laptop) {
          padding: 25px 10px 8px;
        }
        @include breakpoint(mobile) {
          padding: 10px;
          background: #232323;
          border: 1px solid #333;
          border-radius: 4px;
          text-align: center;
        }
        .lang_text {
          color: #fff;
          font-size: 18px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include breakpoint(mac) {
            font-size: 17px;
          }
          @include breakpoint(laptop) {
            font-size: 16px;
          }
          @include breakpoint(desktop-small) {
            font-size: 15px;
          }
        }
        .global_text {
          font-size: 16px;
          color: hsla(0, 0%, 100%, 0.65);
          @include breakpoint(mac) {
            font-size: 15px;
          }
          @include breakpoint(laptop) {
            font-size: 14px;
          }
          @include breakpoint(desktop-small) {
            font-size: 13px;
          }
        }
        input {
          display: none;
          &:checked ~ .indicator {
            background: $primary-color;
            border: 2px solid $primary-color !important;
            @include breakpoint(mobile-common-land) {
              opacity: 1;
            }
            &::after {
              display: block;
            }
          }
        }
        .indicator {
          border: 2px solid #767676;
          position: absolute;
          top: 28px;
          right: 25px;
          height: 22px;
          width: 22px;
          border-radius: 50px;
          @include breakpoint(mac) {
            top: 8px;
            right: 8px;
            height: 20px;
            width: 20px;
          }
          @include breakpoint(laptop) {
            top: 30px;
            right: 15px;
            height: 18px;
            width: 18px;
          }
          @include breakpoint(mobile) {
            top: -7px;
            right: -7px;
            height: 15px;
            width: 15px;
          }
          // @include breakpoint(mobile-common-land) {
          //   top: -7px;
          //   right: -7px;
          //   height: 15px;
          //   width: 15px;
          //   opacity: 0;
          // }
          &:after {
            left: 6px;
            top: 3px;
            width: 6px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
            box-sizing: border-box;
            @include breakpoint(mac) {
              left: 5px;
              top: 2px;
            }
            @include breakpoint(laptop) {
              width: 5px;
              height: 9px;
            }
            @include breakpoint(mobile) {
              left: 3px;
              top: 0;
              border-width: 0 2px 2px 0;
              width: 5px;
              height: 9px;
            }
            @include breakpoint(mobile-common-land) {
              left: 3px;
              top: 0;
              border-width: 0 2px 2px 0;
              width: 5px;
              height: 9px;
            }
          }
        }
        &:hover {
          .indicator {
            &::after {
              display: block;
            }
          }
        }
      }
      @include breakpoint(mobile-small) {
        flex: 0 0 50%;
      max-width: 50%;
      }
      @include breakpoint(mobile-x-small){
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

}
.displayLanguageactions{
  display: flex; justify-content: center;
  .actions_btns{
    margin: 0 !important;
    .applybtn {
      border-radius: 4px;
      margin: 0;
      height: 44px;
      width: 160px;
      font-size: 16px;
      text-align: center;
      color: $text-color;
      border: none;
      @include breakpoint(mac) {
        font-size: 14px;
      }
      @include breakpoint(mobile-big-land) {
        font-size: 12px;
      }
      @include breakpoint(mobile-small) {
        width: 140px;
      }

      @include breakpoint(mobile-common-land) {
        width: 100%;
      }
    }
    .cancelbtn {
      background: hsla(0, 0%, 100%, 0.15);
      @include breakpoint(mobile-common-land) {
        display: none ;
      }
      cursor: pointer;

      &:hover {
        background: hsla(0, 0%, 100%, 0.2);
      }
    }
    &.mobile{display: none !important;}
    &:first-child{margin-right: 20px !important;}
    @include breakpoint(mobile-common-land){display: none !important;
      &.mobile{display:block !important; width: 100%;
        .applybtn{width: 100%;}
      }
    }
  }
}
