@import "variables.scss";
.search_page{
    min-height: 500px;
    .search_cont {
        width: 100%; 
        position: relative;
        
        form {
          margin: 148px auto 0 auto; 
          position: relative;
          @include breakpoint(mobile){     border: 1px solid $search-input-border-mb;
            background: $popup-bg; border-radius:4px; height:44px; line-height: 44px; margin-top: 20px;}
          
          .search_img {
            position: absolute;
            bottom: 15px;
            left: 5px;
            width: 22px;
            opacity: 0.5;
            @include breakpoint(laptop){width: 18px;}
            @include breakpoint(mobile){ bottom:12px; width:18px; left:16px;}
          }
          .clear_img{
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            right: 5px;
            width: 22px;
            fill: #fff !important;
            @include breakpoint(mobile){ bottom:9px; width:18px; right:10px;}
          }

          input {
            padding: 0 20px 0 35px;
            border: none;
            border-bottom: 1.5px solid  $search-input-border-bg;
            width: 100%;
            background: none;
            box-shadow: none;
            height: 50px;
            font-size: 16px;
            color: #fff;
            font-family: Poppins, sans-serif;
            &:focus {
              box-shadow: none;
              outline: none;
            }
            @include breakpoint(mobile){ border:none; height:42px; line-height: 42px; padding:0 20px 0 44px;}
            &::placeholder{
              color: #b9b9b9;
              font-family: Poppins, sans-serif;
              font-size: 18px;
            }
          }
        }
      
        .search_tabs {
          background: $nav-bg;
          margin: 50px auto; border-radius: $search-tabs-border-radius;
          @include breakpoint(mobile) { background: none; margin:20px auto;}
          ul {
            display: flex;
            @include breakpoint(mobile) { display: none;}
            li {
              text-align: center;
              flex-grow: 1;
              flex-basis: 0;
              font-size: 18px;
              line-height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 0;
              min-height: 50px;
              @include breakpoint (laptop){font-size: 14px}
              cursor: pointer;
              &:hover {
                background: $tab-hover-bg;
              }
              &.active {
                background: $tab-active-bg;
                color:$primary-button-text-color;
                cursor: default;
                &:hover {
                  background: $tab-active-bg;
                }
              }
              &:first-child{ border-radius:$search-tabs-border-radius 0 0 $search-tabs-border-radius;}
              &:last-child{ border-radius:0px $search-tabs-border-radius $search-tabs-border-radius 0;}
            }
          }
        }
        .error_message {
          display: flex;
          div {
            margin: 0 auto;
          }
        }
      
        .recent_search {
          margin-bottom: 50px;
          .recent_header {
            margin-bottom: 10px;
            .main_label {
              @include breakpoint(tablet) { font-size: 15px;}
              @include breakpoint(laptop) { font-size: 18px;}
              font-size: 24px;
              font-weight: 400;
              margin-bottom: 24px;
              color: $white-color;
            }
            .clear_history {
              @include breakpoint(laptop) { font-size: 16px;}
              @include breakpoint(tablet) { font-size: 14px; margin-top: 0;}
             
              font-size: 22px;
              color:$text-color;
              cursor: pointer;
              float: right;
              margin-top: 10px;
            }
          }
          .hist_list {
            ul {
              li {  
                Span {
                  font-size: 18px;
                  @include breakpoint(laptop) { font-size: 16px;}
                  @include breakpoint(tablet) { font-size: 14px; margin-top: 0;}
                  color: $grey-text-color;
                  margin-bottom: 5px;
                  cursor: pointer;
                  display: inline-block;
                  transition: all 0.5s;
                  &:hover {
                    color: $grey-text-color;
                  }
                }
              }
            }
          }
        }
      
        .suggestion_list {
          background: $search-list-bg;
          position: absolute;
          z-index: 8;
          width: 100%;
          height: 300px;
          overflow: auto;
          
          li {
            padding: 15px 30px;
            cursor: pointer;
            font-size: 16px;
            max-height: 400px;
            overflow-y: auto;
            @include breakpoint(laptop) { padding: 10px 20px 5px; font-size: 14px;
              font-size: 14px;}
            &:hover {
              background: $search-list-hover-bg;
            }
          }
        }
      }
      
      .page_curosal{
          margin-top: 30px;
          @include breakpoint(mobile) { margin-top:50px; }
      }

      .search_results{ 
       
        .error_message{ 
          display: flex; justify-content: center; padding: 0 20px;
        }
      }
      .search_results_mobile{ display: none; position: relative;
        @include breakpoint(mobile) { display:block; width:120px; margin-left: auto; margin-right:30px;}
        &:before{
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          pointer-events: none;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          top: 17px;
          right: -15px;
          border-top: 8px solid #fff;
          opacity: .8;
          z-index: 1;
        }
        select{
          border: none;
          background: #232323;
          color: #fff;
          border-radius: 2px;
          height: 40px;
          width: 100%;
          padding: 0 30px 0 15px;
          position: relative;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          min-width:150px; margin-left:auto;
          position: relative;
          &:hover, &:focus{ border:none; outline:none;}
          
        }
        .error_message{ 
          display: flex; justify-content: center;
        }
      }
}

