@import 'variables.scss';
button.disabled{
    cursor: no-drop !important;
    opacity: 0.5;
}
.activate_device{ 
  width:100%; min-height:100vh; margin:0 auto; position: fixed; height:100%; overflow: auto;  background:$body-color;
  @include breakpoint(tablet) { height:100%; overflow: auto;  position: relative;text-align: center;}
  @include breakpoint(mobile) { background: $body-color; }
  .clnt_logo{
    @include breakpoint(mobile) { display: none; }
  }
  .tablet_logo{  position: fixed; cursor: pointer; max-width: 180px; max-height: 80px;  margin: 40px;
    @include breakpoint(mac){ margin: 30px;}
    @include breakpoint(laptop){ max-width: 125px; max-height: 66px;
        margin: 30px; }
    @include breakpoint(tablet){  position: relative;  max-width: 130px;  max-height: 60px;
        margin: 30px 0px 20px; }
    @include breakpoint(mobile){ max-width: 120px;  max-height: 55px;
        margin: 20px; }
}
.back_btn{
    display: none;
    height: 56px;
    line-height: 56px;
    background: #262626;
    padding: 0 25px;
    width: 100%;
    align-items: center;
    gap: 14px;
    margin-right: 15px;
    z-index: 1;

     h2{ font-size:28px; font-weight: normal; color: $text-color;
        @include breakpoint(mobile) { font-size:18px; }
    }
        img{ vertical-align: middle; width: 22px;}
      
    @include breakpoint(mobile) { display: flex; position: fixed; top: 0; width: 100%; left: 0; }
}
    .activate_inner{ padding:50px 50px 70px; display: block; overflow: hidden; width:580px; border-radius: $border-radius;
        margin:120px auto 30px auto; background: $signin-bg; text-align: center;
        @include breakpoint(laptop) { margin-top:60px;}
        @include breakpoint(tablet) { width:100%; max-width:450px; margin-top:0px; padding:30px;}
        @include breakpoint(mobile) { background: none; padding:0px 20px 20px; margin:80px auto 0 auto;}
        h2{ font-size:28px; margin-bottom:10px; font-weight: normal; color: $text-color;
            @include breakpoint(mac) { font-size:26px; }
            @include breakpoint(laptop) { font-size:24px;}
            @include breakpoint(tablet) { font-size:22px;}
            @include breakpoint(mobile) { font-size:20px; }
        }
        .msg1{ font-size:14px ; color:$grey-text-color; margin-bottom: 40px;}
        .msg2{ font-size:15px ; color:$grey-text-color; margin-bottom: 20px; }
        .form_rows{ position: relative; margin-bottom: 15px;height: 88px;
            label{  position: relative; border-radius: 4px; margin-bottom:38px; height:50px; width:100%;
                .title{ color:$grey-text-color; font-size:12px; position: absolute; top:-20px; left:10px;  background:$signin-bg; padding:0 5px; z-index: 9;
                    @include breakpoint(mobile) { background:$body-color;}
                    }
                input{ background: none; color:$grey-text-color;  padding:0px 16px; width:100%;border-radius: 0.25rem; border-radius: $border-radius;
                            font-size:15px !important; height:48px; line-height: 48px; display: inline-block;border:solid 1px $signin-btn-border;outline: none;
                    @include breakpoint(mac) {font-size:14px;}
                }
                .text_danger{ position: absolute; color:$danger; bottom:-35px; left:0; font-size:12px;}
            }
            
        }
        .text_danger1{color: $danger;font-size:14px;margin: 0 auto;}
        .btn{ background-color: $primary-color; height:44px; line-height: 44px; padding:0; font-size:18px !important;
            width:270px; margin-bottom:20px; margin-top:15px; color: $text-color; border-radius: 2px;font-weight: normal !important;
            @include breakpoint(mac) { font-size:16px;}
            @include breakpoint(laptop) { margin-top:50px; font-size:14px;}
            @include breakpoint(tablet) { margin-top:50px; width: 250px; }
            @include breakpoint(mobile) { width: 100%;}
            
              
        }
        .signin_btn{ margin-bottom: 30px; margin-top:10px;width: 200px; 
            background-color: $primary-color; height:44px; line-height: 44px; padding:0; font-size:18px !important;
           color: $text-color;border-radius: 2px;
           @include breakpoint(mac) { font-size:16px;}
           @include breakpoint(laptop) { font-size:14px;}
           @include breakpoint(mobile) { width: 100%;}
        }
        .msg{ font-size:12px; color:$grey-text-color;
            .link{ color:$text-color; text-decoration:underline;
              &:hover{ color:$text-color; opacity: 1;}
            }
        }
    } 
    .stream__pin__validate{ display: block;
      .success_inner{ padding:50px; display: block; overflow: hidden; width:550px; max-width: none !important;
        margin:120px auto 30px auto; background:  $signin-bg; text-align: center;
            @include breakpoint(laptop) { margin-top:60px;}
            @include breakpoint(tablet) { width:500px; margin:120px auto 20px auto; padding:30px;}
            @include breakpoint(mobile) { width: 100%; background: none; padding:0px 20px 20px; margin:60px auto 0 auto;}
                  h3{ font-size:26px; text-align: center; padding: 10px 0 20px 0; margin: 0 auto;
                      @include breakpoint(mac) {font-size:24px;}
                      @include breakpoint(laptop) {font-size:22px;}
                      @include breakpoint(tablet) {font-size:20px; max-width: 450px;}
                      @include breakpoint(mobile) {font-size:18px; max-width: 350px;}                     
                  }
                  .bottom_buttons{ text-align: center; display: block; overflow: hidden; margin-top: 40px; margin-bottom: 20px;
                    @include breakpoint(mobile) { margin-top: 20px;}  
                      button{ padding:8px 0px; border:none; background: $primary-color; width:160px; text-align: center;
                      color:$text-color; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
                  }
                }
                  
              }
          }

}
