@import "variables.scss";

.dynamicMain {
    margin-bottom: 40px;
    min-height: 95vh;
    &.freedomtvDynamic{
        min-height: 95vh;
    }
    .movedown{
        padding-top: 70px;
        @include breakpoint (laptop){ padding-top: 50px;}
        @include breakpoint (mobile){ padding-top: 15px;}
    }
    .playerBottomSections{
        @include breakpoint(tablet) { display: none; }
    }
    .listGrid{ margin-top:0px;
        @include breakpoint(tablet) { margin-top : 100px}
        @include breakpoint(mobile) { margin-top : 10px}
    }
    .no_banners {
        // @include breakpoint(tablet) { margin-top : 100px}
    }
}
