@import "variables.scss";

.device_list{
  .disply_inline{
    display: inline-flex;
    
    .active_device {
      background: none;
      padding: 4px 10px;
      color: $primary-color;
      border-radius: 4px;
      border: 1px solid $primary-color;
      font-size: 14px;
      // margin-bottom: 30px;
     &.activeScreens{      
      @include breakpoint(mobile){
        display: none;
      }
     }
      &:first-child{margin-right: 20px;}
      &.active{
        background: $primary-color;
        border: 1px solid $primary-color;
        color:$primary-button-text-color;
      }
    }   
  }
  .stream_details{
    width: 100%;
    .add_scroll{
      max-height: 200px;
      overflow: auto;
      margin-top: 30px;
      @include breakpoint(mobile-common-land){margin-top: 20px;}
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #1a1a1a;
        border-radius: 5px;
        opacity: 0;
      }
      &::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 5px;
      }
      &.no_scroll{
        max-height: 400px;
      }
      .device_row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px 30px 0; 
        @include breakpoint(mobile){padding: 10px 15px;}
        @include breakpoint(mobile-common-land){display: block;}
        .devices_left{
          display: flex;
          align-items: center;
          .device_img{
            margin-right: 10px;
             @include breakpoint(mobile-common-land){    position: relative;
              top: 15px;}
          }
          .device_info{
            .device_name{
              font-size: 16px;
              color: $text-color;
              @include breakpoint(mobile-common-land){font-size: 14px;}
            }
            .device_subtype{
              margin-top: 5px;
              font-size: 14px;
              color: #999;
              display: block;
              @include breakpoint(mobile-common-land){font-size: 12px;}
            }
            .device_loginTime{
              font-size: 12px;
              color: $text-color;
              opacity: 0.5;
              margin-left: 10px;
              @include breakpoint(mobile){
                margin-top: 3px;
                display: block;
                margin-left: 0px;
              }
            }
          }
        }
        .devices_right{
          font-size: 14px;
          width: 40%;
         float: left;
         text-align: right;
          // margin: 10px 10px;
          .delete_device{

            cursor: pointer;
            color: $primary-color;
            white-space: nowrap;
            font-weight: 500;
            @include breakpoint(mobile-common-land){margin-left: 45px;
             
            }
          }
          .current_device{
            color: #999;
            // opacity: 0.5;
            @include breakpoint(mobile-common-land){margin-left: 45px;}
          }
          @include breakpoint(mobile-common-land){
            width: 100%;
            float: none;
           text-align: left!important;
          }
        }
      }
    }
  }
    
}
