@import "variables.scss";

.settings {
  padding: 50px 0;
  margin-top: 70px;
  @include breakpoint(mobile) {
    padding: 0;
    margin: 0;
  }
  .container {
    // CardComponent.module.scss
  

    .cardswraper{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      // background: red;
    }
    .t_history{
      text-align: right;
      margin-top: 20px;
      border-top: 1px solid $settings-border-color;
      padding-top: 10px;
      cursor: pointer;
    }
    @include breakpoint(mobile) {
      padding: 0;
      font-size: 14px;
    }
  }
  .mobileBack {
    top: 0;
    font-size: 16px;
    color: $white-color;
    z-index: 11;
    background: $settings-mobileback-bg;
    width: 100%;
    padding: 16px 20px 16px 0;
    position: fixed;
    display: none;
    border-bottom: 1px solid $mobileBack-border;
    @include breakpoint(mobile) {
      display: flex;
    }
    img {
      display: inline-block;
      width: 20px;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
  .settings_inner {
    width: 892px;
    max-width: 100%;
    margin: 0 auto;
    @include breakpoint(mobile) {
      margin-top: 80px;
    }

    .closed_caption{
      display:flex ;    
      justify-content:space-between ;
      @include breakpoint(mobile){
        display: none;
      }
    }

    .account_info {
      background-color: $settings-accountinfo-bg;
      min-height: 56px;
      color: $grey-text-color;
      position: relative;
      cursor: pointer;
      height: 60px;
      line-height: 60px;
      padding: 0 25px;
      margin-top: 20px;
      :first-child {
        margin: 0;
      }
    
      @include breakpoint(mobile) {
        padding: 0 15px;

        &.profile_main {
          padding: 0 10px;
        }
      
        &.active {
          height: 80px;
          :first-child {
            height: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
          }
        }
      }
      @include breakpoint(mac) {
        height: 56px;
        line-height: 56px;
      }
      //  div{margin: 0;}
      .info_heading {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        color: $text-color;
        // opacity:0.8;
        @include breakpoint(mobile) {
          font-weight: 400;
          font-size: 16px;
        }
        &.active {
          height: 100%;
        }
      }

      .activate_btn {
        position: absolute;
        right: 55px;
        top: 15px;
        border: 1px solid $setting-btn-border;
        padding: 4px 10px;
        border-radius: 3px;
        background: none;
        font-size: 14px;
        a {
          color: $grey-text-color;
          
          &:hover {
            color:$text-color;
          }
        }
        @include breakpoint(mobile) {
          right: unset;
          left: 6px;
          top: 43px;
        a{  color: $primary-color;}
          border: none;
        }
      }
      .arrow {
        fill: $arrow-fill-color;
        transform: scale(1.7);
      }
      .subs_btn {
        position: absolute;
        right: 55px;
        top: 13px;
        border: 1px solid $setting-btn-border;
        padding: 6px 20px;
        border-radius: 3px;
        background: none;
        font-size: 14px;
        color: $grey-text-color;
        @include breakpoint(mobile-common-land) {
          right: 20px;
          top: 20px;
          padding: 0 10px;
        }
      }
    }

    .subscriptionInfo {
      background-color: $settings-accountinfo_bg;
      min-height: 56px;
      color: $grey-text-color;
      position: relative;
      cursor: pointer;
      height: 60px;
      line-height: 60px;
      padding: 0 25px;
      margin-top: 20px;
      :first-child {
        margin: 0;
      }
    
      @include breakpoint(mobile) {
        padding: 0 15px;

        &.profile_main {
          padding: 0 10px;
        }
      
        &.active {
          height: 80px;
          :first-child {
            height: 100%;
          }
        }
      }
      @include breakpoint(mac) {
        height: 56px;
        line-height: 56px;
      }
      .info_heading {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        color: $text-color;
        // opacity:0.8;
        @include breakpoint(mobile) {
          font-weight: 400;
          font-size: 16px;
        }
        &.active {
          height: 100%;
        }
      }

      .activate_btn {
        position: absolute;
        right: 55px;
        top: 15px;
        border: 1px solid $setting-btn-border;
        padding: 4px 10px;
        border-radius: 3px;
        background: none;
        font-size: 14px;
        span {
          color: $grey-text-color;
          display: block;
          &:hover {
            color: $text-color;
          }
        }
      }
      .arrow {
        fill: $arrow-fill-color;
        transform: scale(1.7);
      }
      .subs_btn {
        position: absolute;
        right: 55px;
        top: 13px;
        border: 1px solid $setting-btn-border;
        padding: 6px 20px;
        border-radius: 3px;
        background: none;
        font-size: 14px;
        color: $grey-text-color;
        @include breakpoint(mobile-common-land) {
          right: 20px;
          top: 20px;
          padding: 0 10px;
        }
      }
    }

    

    .profile{padding: 0;}
    .user_details {
      padding: 30px 25px;
      background-color: $settings-Udetails-bg;
      color: $grey-text-color;
      @include breakpoint(mobile) {
        padding: 20px;
      }
      @include breakpoint(mobile-common){padding: 15px 10px 20px;}
      &.packages_info { padding: 0px;}  
        
      .user_values {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        align-items: center;
        @include breakpoint(mobile) {
          // border-bottom: solid 1px  $settings-border-color;
          padding: 10px ;
         margin: 0;
          position: relative;
        }
        .left{display: flex;
          @include breakpoint(mobile){display: block;}
        }
        .link {
          display: flex;
          color: $settings-link-color;
          top: 15px;
          font-size: 14px;
         margin-left: auto;
          align-items: center;
          cursor: pointer;
          // padding:10px 0;
          @include breakpoint(mobile){font-size: 12px; right: 10px;  position: absolute ; top: 18px;}
          @include breakpoint(mobile-common){position: initial; text-align: right;}
        }
        &:last-child{padding-bottom: 0; padding-top: 10px; border: none;}
      }

    
      .details_hd {
        display: inline-block;
        vertical-align: top;
        min-width: 180px;
        font-size: 18px;
        opacity: 0.8;
        color: $text-color;
        padding-right: 30px;
        font-weight: 400;
        margin-bottom: 0;
        // width: 150px;
        
        @include breakpoint(mac) {
          font-size: 16px;
        }
        @include breakpoint(mobile) {
          font-size: 14px;
          font-weight: 400;
        }
        .sub_hd {
          font-size: 14px;
          color: $text-color;
          width: 100%;
          opacity: 0.6;
          @include breakpoint(mobile){font-size: 12px; width: calc(100% - 40px);}
        }
      }
      .text {
        font-size: 14px;
        color: $text-color;
        opacity: 0.6;
        line-height: 25px;
      }   

      .video_quality {
        width: 254px;
        height: 40px;
        padding: 2px 10px 4px 4px;
        font-size: 14px;
        color: $grey-text-color;
        border-radius: 3px;
        margin-right: 10px;
        border: 1px solid hsla(0, 0%, 44%, 0.64);
        position: relative;
        fieldset{border: none;}
      }
      // ul {
      //   position: absolute;
      //   background: #282828;
      // }
    
    }
    
  .videoquality_web{
    @include breakpoint(mobile){display: none;}
  }
  }
}

