@import "variables.scss";
.videoquality_mobile {
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
  .account_info {
    background-color: $popup-mobile-bg;
    min-height: 56px;
    color: $text-color;
    position: relative;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    margin-top: 20px;
    .arrow {
      fill: $arrow-fill-color;
    }
  }
  .user_details {
    padding: 0;
    color: $grey-text-color;
  }
  .form_group {
    padding: 0 10px;
    background: $popup-bg;
    .quality_list {
      opacity: 0.6;
      width: calc(100% - 70px);
      label {
        font-size: 14px;
        display: block !important;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid #333;
        &:last-child {
          border: none;
        }
        @include breakpoint(mobile) {
          padding: 10px 5px;
        }
        .radio{
          width: 20px;
          height: 20px;
          border: 1px solid #fff;
          background: #000;
          display: none;
          border-radius: 50%;
          width: 100%;
          &.selected ~ .check_radio {
            border-color: #fff;
            opacity: 1;
            &::after {
              transform: scale(1);
              transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
              opacity: 1;
            }
          }
        }
        .check_radio{
          position: relative;
          display: block;
          float: left;
          margin: 0 10px;
          width: 20px;
          height: 20px;
          border: 3px solid #52525c;
          border-radius: 100%;
          -webkit-tap-highlight-color: transparent;
          @include breakpoint(mobile) {
            border-width: 2px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            top: 4px;
            left: 4px;
            margin-right: 10px;
            border-radius: 100%;
            background: #fff;
            transform: scale(0);
            transition: all 0.2s ease;
            opacity: 0.08;
            pointer-events: none;
            box-sizing: border-box;
          }
        }
        .sm_label {
          opacity: 0.8;
          font-size: 14px;
        }
      }
    }
  }
}
