@import 'variables.scss';
.sharecontent_modal {
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cross_icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    &:hover {
      text-decoration: none !important;
    }
  }
  .main_modal {
    margin: 100px auto;
    transform: translate(0);
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(mobile){ padding: 20px; margin:auto;}
    &:focus-visible {
      outline: none !important;
    }
    .modal_wrapper { width: 520px; height: 510px;
      @include breakpoint(mobile){ width: 100%; height:auto; max-width: 500px;}
      .modal_content {
        background: $profile-popup-bg;
        border-radius: 5px;
        color: $grey-text-color;
        padding: 50px 70px;
        display: block;
        position: relative;
        border-radius: $border-radius;
        @include breakpoint(mobile){ padding:50px 20px 20px 20px;}
        .modal_content_inner {
          text-align: center;
          h5{ font-size: 24px; font-weight: normal; margin-bottom:10px;
             margin-top: 52px;  color: $text-color;
             @include breakpoint(mobile){ font-size:20px;}
          }
          .profile_img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 120px;
              height: 120px;
            }
          }
          .otp_Txt { 
            &.View_Txt {
              margin-top: 15px;
            }
          }
          .otp_subTxt {
            margin-top: 20px;
            font-size: 14px;
            color: $text-color;
            opacity: 0.65;
            max-width: 410px;
            word-break: break-word;
            &.View_subTxt {
              margin-top: 5px;
            }
          }
          .createPass{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            overflow-y: hidden;
            opacity: 1;
            a{
              padding: 5px;
              width: fit-content;
            }
          }
          form{ 
            input{ color:$grey-text-color; padding: 14.5px 14px; }           
            label{font-size: 14px; position: absolute; user-select: none;}
          }
          .show{  color: $grey-text-color; font-size: 14px; position: absolute; top:32px; right:10px; display: block;
            cursor: pointer; user-select: none;
            &:hover{ color:$text-color; transform: all 0.5s;}
          }
          .forgot{ position: relative; height: 92px; text-align: left; margin-top: 20px;             
              .valid_error{bottom: 5px; color: $danger; position: absolute;
                  font-size: 12px;}                        
              .otp_sent {              
                line-height: 50px;
                height: 50px;
                color: $danger;                
                font-size: 14px;
                display: flex;
                justify-content: center;
              }
          }
          .footer_actions {
            padding-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            button {
              cursor: pointer;
              padding: 12px 0px;
              border: none;
              background: rgba(255, 255, 255, 0.1);
              font-size: 16px;
              width: 160px;
              text-align: center;
              border-radius: 2px;
              -moz-border-radius: 2px;
              -webkit-border-radius: 2px;
              color: $grey-text-color;
              border-radius: 2px;
              -moz-border-radius: 2px;
              -webkit-border-radius: 2px;
              // @include breakpoint(mobile){ font-size:14px; width:110px;}
              &:first-child {
                margin-right: 16px;
              }
              &:last-child {
                background: $primary-color;
                color: $primary-button-text-color;
              }
            }
          }
        }
      }
    }
  }
}
