@import 'variables.scss';

.tvguide_container {
  position: relative;
  top: 120px;
  margin-bottom: 140px;
  padding: 0 35px 20px;
  &.filtersActive{ top:100px; }
  @include breakpoint(tablet){
    padding: 0px;
    top: 0;
    &.filtersActive{ top:0px; }
  }
  @media (max-width: 400px) {
    padding: 0px;
  }
  .filter_section {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(tablet){
      flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar { display: none !important;}
      
    }
    .filter_data {
      background: none;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid #1D252C;
      border-radius: 2px;
      color: #fff;
      opacity: 0.8;
      &.filter_active{
        background: #00A0DF3D;
        opacity: 1;
      }
    }
  }

  .tvgudie_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    @include breakpoint(tablet){
      position: fixed;
        top: 0;
        margin-top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #000;
        z-index: 10;
        padding: 10px 30px;  
    }
    .title {
      font-size: 1.25em;
      margin-top: 0;
      margin-bottom: 0;
      color: #e5e5e5;
      position: relative;
      font-weight: 500;
      line-height: 1.2;
    }

    .filterbtn {
      padding: 7px 14px;
      font-size: 14px;
      background: #262626;
      color: #a3a3a3;
      text-align: center;
      border: none;
      border-radius: 4px;
      outline: none !important;
      @include breakpoint(mobile){font-size: 12px;}
    }
  }

    .tabs_container {
      background: #222;
      margin-bottom: 10px;
      border: 1px solid #1f1f29;
      position: sticky;
      top: 94px;
      // top: 106px;
      z-index: 5;
      gap: 10px;
      &.tabs_container_fixed{
        top: 60px !important;
      }
      @include breakpoint(mac){
        top: 96px;
      }
      @include breakpoint(laptop){top: 94px;}
      @include breakpoint(tablet-portrait){
        display: none;
      }
  
      .tabs_top_container {
        padding: 0 45px;
        @include breakpoint(mac) {
          padding: 0 35px;
        }
        
        @media (max-width: 400px) {
          padding: 0px;
        }
        .tabs_next,
        .tabs_prev {
          position: absolute;
          display: inline-block;
          top: 18px;
  
          @include breakpoint(tablet-portrait) {
            display: none;
          }
        }
  
        .tabs_next {
          right: 10px;
        }
  
        .tabs_prev {
          left: 10px;
  
          img {
            transform: rotate(180deg);
          }
        }
  
        .tabs_inner {
          overflow-x: hidden;
          white-space: nowrap;
  
          @include breakpoint(tablet-portrait) {
            overflow-x: scroll;
  
            &::-webkit-scrollbar {
              display: none;
            }
          }
  
          .tab {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            color: hsla(0, 0%, 100%, .8);
            position: relative;
            padding: 0px 20px;
            line-height: 64px;
  
            .tab_title {
              &.active_tab_title {
                color: #c30;
              }
            }
  
            @include breakpoint(mac) {
              padding: 0 34px;
              line-height: 60px;
            }
  
            @include breakpoint(laptop) {
              font-size: .938em;
              line-height: 55px;
            }
  
            @include breakpoint(tablet-portrait) {
              padding: 0px 28px;
            }
          }
        }
      }
  
      .tabs_bottom_container {
        display: flex;
        .guide_left_top {
          height: 48px;
          width: 100px;
          min-width: 100px;
          // margin-bottom: 10px;
          background-color: #363636;
  
          .go_live_div {
            font-size: 13px;
            width: 87px;
            cursor: pointer;
  
            .go_live {
              background-color: #868686;
              font-size: 13px;
              padding: 2px 6px;
              margin: 12px 0px;
              margin-left: 6px;
              display: inline-block;
  
              &.active {
                background-color: red;
                color: #fff;
              }
  
              ;
  
              .go_live_circle {
                width: 8px;
                height: 8px;
                background: #fff;
                display: inline-block;
                margin-right: 3px;
                border-radius: 50%;
                position: relative;
                top: 7px;
              }
            }
  
            //   .go_live{
            //     font-weight: 400;
            //       background: #868686;
            //       padding: 2px 0px;
            //       cursor: default;
            //       color: #fff;
            //       opacity: 0.5;
            //       text-align: center;
            //       margin: 0px auto;
            //   .live_circle {
            //     width: 8px;
            //     height: 8px;
            //     background: #fff;
            //     margin-right: 3px;
            //     border-radius: 50%;
            //     display: inline-block;
            //   }
            // }
          }
        }
  
        .times {
          // position: relative;
          height: 48px;
          // margin-bottom: 10px;
          min-width: calc(100% - 100px);
          position: relative;
          .live_text {
            position: absolute;
            left: 0px;
            background-color: $danger;
            transition:1s ease;
            color: white;
            z-index:2;
            top:48px;
            font-size: 0.75em;
            width: 40px;
            height: 18px;
            line-height: 18px;
            border-radius: 2px;
            font-weight: 400;
            text-transform: uppercase;
            transform-origin: center;
            transform: translate(-50%, -100%);
            text-align: center;
          }
          .times_inner {
            white-space: nowrap;
            overflow: hidden;
            .time {
              font-size: 0.875em;
              position: relative;
              width: 270px;
              color: hsla(0, 0%, 100%, 0.57);
              height: 48px;
              line-height: 48px;
              padding: 0 15px;
              display: inline-block;
              font-weight: 400;
              background-color: #363636;
  
              @include breakpoint(tablet) {
                width: 180px;
              }
  
              &::after {
                height: 25px;
                top: 12px;
                content: "";
                width: 2px;
                background: hsla(0, 0%, 100%, 0.2);
                position: absolute;
                right: 0;
                font-size: 0.875em;
                box-sizing: border-box;
              }
            }
          }

          .guide_arrows_container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 48px;
            display: flex;
            justify-content: space-between;
  
            .arrow {
              position: absolute;
              height: 48px;
              width: 24px;
              cursor: pointer;
              line-height: 48px;
              z-index: 2;
  
              @include breakpoint(tablet-portrait) {
                display: none;
              }
  
              &::before {
                content: "";
                width: 0;
                height: 0;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                position: absolute;
                top: 20px;
                right: 14px;
                transition: all 0.5s;
                padding: 3px;
              }
              &.hide{
                display: none;
              }
            }
  
            .left_arrow {
              left: -5px;
  
              &::before {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
              }
            }
  
            .right_arrow {
              right: -5px;
  
              &::before {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
            }
          }
        }

                
      }
    }

  .guide_container {
    display: flex;
    // overflow-x: hidden;
    @include breakpoint(tablet){margin-top: 50px; padding: 0 25px;}
    @include breakpoint(mobile){padding: 0;}
    .guide_left {
      min-width: 100px;
      width: 100px;

      // .guide_left_top {
      //   height: 48px;
      //   width: 100px;
      //   margin-bottom: 10px;
      //   background-color: #1D252C;

      //   .go_live_div {
      //     font-size: 13px;
      //     width: 87px;
      //     cursor: pointer;

      //     .go_live {
      //       background-color: #868686;
      //       font-size: 13px;
      //       padding: 2px 6px;
      //       margin: 12px 0px;
      //       margin-left: 6px;
      //       display: inline-block;

      //       &.active {
      //         background-color: red;
      //         color: #fff;
      //       }

      //       ;

      //       .go_live_circle {
      //         width: 8px;
      //         height: 8px;
      //         background: #fff;
      //         display: inline-block;
      //         margin-right: 3px;
      //         border-radius: 50%;
      //         position: relative;
      //         top: 7px;
      //       }
      //     }

      //     //   .go_live{
      //     //     font-weight: 400;
      //     //       background: #868686;
      //     //       padding: 2px 0px;
      //     //       cursor: default;
      //     //       color: #fff;
      //     //       opacity: 0.5;
      //     //       text-align: center;
      //     //       margin: 0px auto;
      //     //   .live_circle {
      //     //     width: 8px;
      //     //     height: 8px;
      //     //     background: #fff;
      //     //     margin-right: 3px;
      //     //     border-radius: 50%;
      //     //     display: inline-block;
      //     //   }
      //     // }
      //   }
      // }

      .guide_left_bottom {
        background-color: #141411;
        z-index: 4;
        position: relative;

        .channels_container {
          min-width: 100px;
          width: 100px;
          background: #2e2e2e;

          .channel {
            border-top: 2px solid #2e2e2e;
            height: 60px;

            img {
              vertical-align: middle;
              width: 100%;
              height: 100%;
            }
          }
        }
        .go_live_div {
          font-size: 13px;
          width: 87px;
          // margin-bottom: 10px;
          cursor: pointer;
          display: none;
          @include breakpoint(tablet){display: block;}
        
          .go_live {
            background-color: #868686;
            font-size: 13px;
            padding: 2px 6px;
            margin: 12px 0px;
            margin-left: 6px;
            display: inline-block;
        
            &.active {
              background-color: red;
              color: #fff;
            }
        
            ;
        
            .go_live_circle {
              width: 8px;
              height: 8px;
              background: #fff;
              display: inline-block;
              margin-right: 3px;
              border-radius: 50%;
              position: relative;
              top: 7px;
            }
          }
        
          //   .go_live{
          //     font-weight: 400;
          //       background: #868686;
          //       padding: 2px 0px;
          //       cursor: default;
          //       color: #fff;
          //       opacity: 0.5;
          //       text-align: center;
          //       margin: 0px auto;
          //   .live_circle {
          //     width: 8px;
          //     height: 8px;
          //     background: #fff;
          //     margin-right: 3px;
          //     border-radius: 50%;
          //     display: inline-block;
          //   }
          // }
        }
      }
    }

    .guide_right {
      width: calc(100% - 100px);

      .guide_programs_wrapper {
        position: relative;

        .guide_programs_container {
          .times {
            // position: relative;
            height: 48px;
            // margin-bottom: 10px;
            display: none;
            @include breakpoint(tablet){display: block;}
          
            .times_inner {
              white-space: nowrap;
          
              // overflow: hidden;
              .time {
                font-size: 0.875em;
                position: relative;
                width: 270px;
                color: hsla(0, 0%, 100%, 0.57);
                height: 48px;
                line-height: 48px;
                padding: 0 15px;
                display: inline-block;
                font-weight: 400;
                background-color: #141411;
          
                @include breakpoint(tablet) {
                  width: 180px;
                }
          
                &::after {
                  height: 25px;
                  top: 12px;
                  content: "";
                  width: 2px;
                  background: hsla(0, 0%, 100%, 0.2);
                  position: absolute;
                  right: 0;
                  font-size: 0.875em;
                  box-sizing: border-box;
                }
              }
            }
          }
          overflow-x: hidden;
          position: relative;

          @include breakpoint(tablet-portrait) {
            overflow-x: scroll;

            &::-webkit-scrollbar {
              display: none;
            }
          }

        

          .programs_data_container {
            box-sizing: border-box;
            white-space: nowrap;
            position: relative;

            .programs_inner_container {
             
              .program {
                color: hsla(0, 0%, 100%, 0.8);
                height: 60px;
                line-height: 60px;
                display: inline-block;                
                position: relative;
                background: #1c1c1c;
                overflow: hidden;
                font-size: 0.875em;
                vertical-align: top;
                box-sizing: border-box;
                border: 2px solid transparent;
                border-top: 2px solid #2e2e2e;
                border-right: 2px solid #2e2e2e;
                cursor: pointer;
                @include breakpoint(tablet){border-top: 1px solid #2e2e2e;
                  border-right: 1px solid #2e2e2e;}
                &:hover{
                  background-color: #363636;
                }
                &.active_program{
                  background: #232323;
                  &:hover{
                    background: #222;
                    // &:before {
                      //  border: 2px solid $primary-hover-color;
                    // position: absolute; left: 0;top: 0;width: calc(100% - 3px);height: calc(100% - 3px);
                    // content:""; display: block;
                    // }
                  }
                }
                
                @include breakpoint(tablet-portrait){
                  line-height: 55px;
                }
              }
            }
          }
        }

        .live_bar {
          position: absolute;
          top: -10px;
          bottom: 0;
          left: 0px;
          transition: 1s ease;
          border-left: 0.5px dashed $danger;
          z-index: 3;
          @include breakpoint(tablet-portrait){
            top: 47px;
          }

          .live_bar_inner {
            position: relative;
            height: 100%;

            .live_text {
              position: absolute;
              top: 0;
              background-color: $danger;
              color: white;
              font-size: 0.75em;
              width: 40px;
              height: 18px;
              line-height: 18px;
              border-radius: 2px;
              font-weight: 400;
              text-transform: uppercase;
              transform-origin: center;
              transform: translate(-50%, -100%);
              text-align: center;
            }
          }
        }

        // .guide_arrows_container {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   right: 0;
        //   height: 48px;
        //   display: flex;
        //   justify-content: space-between;

        //   .arrow {
        //     position: relative;
        //     height: 48px;
        //     width: 24px;
        //     cursor: pointer;
        //     line-height: 48px;
        //     z-index: 2;

        //     @include breakpoint(tablet-portrait) {
        //       display: none;
        //     }

        //     &::before {
        //       content: "";
        //       width: 0;
        //       height: 0;
        //       border: solid #fff;
        //       border-width: 0 2px 2px 0;
        //       position: absolute;
        //       top: 20px;
        //       right: 14px;
        //       transition: all 0.5s;
        //       padding: 3px;
        //     }
        //   }

        //   .left_arrow {
        //     left: -5px;

        //     &::before {
        //       transform: rotate(135deg);
        //       -webkit-transform: rotate(135deg);
        //     }
        //   }

        //   .right_arrow {
        //     right: -5px;

        //     &::before {
        //       transform: rotate(-45deg);
        //       -webkit-transform: rotate(-45deg);
        //     }
        //   }
        // }
      }
    }
  }
}

.tabs_inner  {
  &.tabs_inner_mobileweb{
    display: none;
    @include breakpoint(tablet-portrait){display: block;}
  }
  
  overflow-x: hidden;
  white-space: nowrap;

  @include breakpoint(tablet-portrait) {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    display: inline-block;
    text-align: center;
    color: hsla(0, 0%, 100%, .8);
    position: relative;
    padding: 0px 20px;
    line-height: 64px;

    .tab_title {
      &.active_tab_title {
        color: #c30;
      }
    }

    @include breakpoint(mac) {
      padding: 0 34px;
      line-height: 60px;
    }

    @include breakpoint(laptop) {
      font-size: .938em;
      line-height: 55px;
    }

    @include breakpoint(tablet-portrait) {
      padding: 0px 28px;
    }
  }
}
.errMsg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}