@import "variables.scss";

.filter_container {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 7px;
   @include breakpoint(laptop){max-width: 33.33%; flex: 0 0 33.33%;}
    @include breakpoint(mobile-common-land) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 10px;
    }

    .filter {
      background-color: #454545;
      color: #9ea2ac;
      // border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
      text-align: left;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 12px 15px;
      position: relative;

      @include breakpoint(mac) {
        padding: 25px 12px 9px;
      }

      @include breakpoint(laptop) {
        padding: 12px 15px;
      }
      @include breakpoint(mobile){background: none; border: 1px solid #333;
       &.selected{background-color: #454545;}
       }

      .filter_text {
        color: #bfbfbf;
        font-size: 18px;
        display: inline-block;
        overflow: hidden;

        @include breakpoint(mac) {
          font-size: 17px;
        }

        @include breakpoint(laptop) {
          font-size: 14px;
        }
      }

      //   .lang_native_text {
      //     color: hsla(0, 0%, 100%, 0.65);
      //     font-size: 16px;

      //     @include breakpoint(mac) {
      //       font-size: 15px;
      //     }

      //     @include breakpoint(laptop) {
      //       font-size: 14px;
      //     }
      //   }

      .select_filter_icon {
        border: 2px solid #767676;
        position: absolute;
        height: 22px;
        width: 22px;
        border-radius: 50px;
        top: 50%;
        right: 5%;
        transform: translate(-5%, -50%);

        @include breakpoint(mac) {
          height: 20px;
          width: 20px;
        }

        @include breakpoint(laptop) {
          height: 16px;
          width: 16px;
        }
        @include breakpoint(mobile){top: -2px; right: -7px; display: none;}
        &::after {
          content: "";
          left: 6px;
          top: 3px;
          width: 6px;
          height: 10px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: absolute;
          display: block;
          box-sizing: border-box;

          @include breakpoint(mac) {
            left: 5px;
            top: 2px;
          }
         
          @include breakpoint(laptop) {
            width: 5px;
            height: 8px;
            left: 3px;
            top: 1px;
          }
        }

        &.active {
          background: $primary-color;
          border: 2px solid $primary-color !important;
          display: block;
        }
      }
    }
  }