@import "variables.scss";

.container {
    margin-top: 121px;
    padding: 0px 90px 20px 90px;

    @include breakpoint(tablet) {
        margin-top: 0px;
        padding: 0;
    }


    .completeProfile {
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0cap;
        text-transform: capitalize;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        @include breakpoint(laptop){font-size: 24px;}
        @include breakpoint(tablet){
            background: #1E1E1E; padding: 22px 16px; font-size: 16px; font-weight: 500;
        }
        img {
            width: 25px;
            height: 22px;
            margin-right: 10px;
            cursor: pointer;
            @include breakpoint(tablet){width: 14px; height: 16px;}
        }
    }

    .gridContainer {
        display: flex;
       
        // height: 200px;
        gap: 20px;
        margin-top: 20px;

        @include breakpoint(mobile) {
            grid-template-columns: 100%;
            margin: 0;
            padding: 16px;
        }

        .leftContainer {
            width: 27%;
            @include breakpoint(mobile){width: 100%;}
            .profile_icon_parent {
                width: 100%;
                height: 182px;
                background: #1E1E1E;
                border-radius: 8px;
            }

            .profile_preferences {
                color: #fff;

                .profile_card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #1e1e1e;
                    border-radius: 10px;
                    padding: 11px;
                    position: relative;
                    text-align: center;

                    // height: 163px ;
                    .profile_edit {
                        position: absolute;
                        top: 11px;
                        right: 11px;
                        width: 23px;
                        height: 23px;

                    }

                    .avatar_section {
                        position: relative;

                        .progress_ring {
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            margin: auto;
                            @include breakpoint(laptop){width: 80px; height: 80px;}
                            .avatar_img {
                                width: 80px;
                                height: 80px;
                                margin: 0 auto;
                                position: relative;
                                @include breakpoint(laptop){
                                    width: 70px;
                                    height: 70px;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }

                                .progress_badge {
                                    width: 46px;
                                    position: absolute;
                                    bottom: -8px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    // background-color: #ffc107;
                                    color: #fff;
                                    font-size: 12px;
                                    padding: 2px 6px;
                                    border-radius: 4px;
                                }
                            }
                        }

                        .username {
                            margin-top: 12px;
                            font-size: 16px;
                            font-weight: 500; line-height: 16px;
                            @include breakpoint(laptop){font-size: 14px;}
                        }
                        .kids_tag{
                            font-size: 12px; font-weight: 400; line-height: 8px; margin-top: 5px;
                            @include breakpoint(laptop){font-size: 11px;}
                        }

                        .edit_icon {
                            position: absolute;
                            top: 12px;
                            right: 12px;
                            color: #ccc;
                            cursor: pointer;
                        }
                    }
                    img{
                        cursor: pointer;
                    }
                }

                .section {
                    margin-top: 24px;

                    .section_title {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 4px;
                        @include breakpoint(mac){font-size: 14px;}
                        @include breakpoint(mobile){font-weight: 400;}
                    }

                    .section_subtitle {
                        font-size: 14px;
                        color: #aaa;
                        margin-bottom: 12px;
                        @include breakpoint(mac){font-size: 12px;}
                    }

                    .card_list {
                        background: #2D2B2B;
                        border-radius: 10px;
                        overflow: hidden;
                        padding: 12px 20px 12px 12px; 
                        @include breakpoint(mac){border-radius: 8px;}
                        @include breakpoint(laptop){padding: 10px 18px 10px 10px;}
                        .card_item {
                            display: flex;
                            align-items: center;
                            padding: 9px 16px;
                            // border-bottom: 1px solid #2c2c2c;
                            color: #fff;
                            cursor: pointer;
                            position: relative;
                            @include breakpoint(laptop){padding: 10px 10px 10px 13px; font-size: 14px;}
                           

                            &:last-child {
                                border-bottom: none;
                            }

                            .icon {
                                width: 25px;
                                margin-right: 12px;
                                font-size: 18px;
                                @include breakpoint(laptop){width: 20px; margin-right: 10px;}
                            }
                            .lable_Text{font-size: 16px; 
                             @include breakpoint(mac){font-size: 14px;}
                             @include breakpoint(laptop){font-size: 12px;}
                            }
                            .arrow {
                                width: 15px;
                                margin-left: auto;
                                color: #888;
                                font-size: 14px;
                                @include breakpoint(laptop){width: 12px;}
                            }

                            &.active {
                                color: #D13066;
                                @include breakpoint(mobile){
                                    color: #fff;
                                }
                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 3px;
                                    height: 32px; 
                                    background-color: #D13066;
                                    border-radius: 0 3px 3px 0; 
                                    @include breakpoint(laptop){height: 28px; border-radius: 0 2px 2px 0; }
                                    @include breakpoint(mobile){display: none;}
                                }
                            }

                            // &:hover {
                            //     background: #2a2a2a;
                            // }
                        }
                    }
                }
                .deleteBtn{display: flex; justify-content: center; margin-top: 34px;
                    button{background: none; border: none; outline: none; color: #fff; display: flex; align-items: center;
                     img{margin-right: 5px;}
                     }
                }
            }
                        .delete_profile {
                            display: flex;
                            justify-content: center;
                            margin-top: 20px;
            
                            span {
            
                                display: flex;
                                align-items: center;
                                gap: 10px;
                            }
            
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        }
 
        }

        .rightContainer {
            border-radius: 8px;
            // padding: 34px 45px 54px 45px;
            padding: 34px 0px 0px 0px;
            background-color: #2D2B2B;
            // height: fit-content;
            scrollbar-width: none;
            position: relative;
            max-height: 700px;
            width: 67%;
            @include breakpoint(laptop){padding: 24px 0 0 0;}
            @include breakpoint(mobile) {
                display: none;
            }

            .contentRating {
                padding: 0px 45px 54px 45px;
                max-height: 630px;
                @include breakpoint(laptop){padding: 0 35px 40px 35px;}
            }

            .contentLang {
                padding: 0px 45px 90px 45px;
                max-height: 563px;
                overflow-y: scroll;
                scrollbar-width: none;
                @include breakpoint(laptop){padding: 0 35px 40px 35px;}
                
            }

            .saveBtn {
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: #1e1e1e;
                height: 90px;
                display: flex;
                align-items: center;
                padding-left: 45px;

                button {
                    color: #fff;
                    width: 212px;
                    height: 54px;
                    background-color: #D13066;
                    border-radius: 8px;
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: 0px;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .disabled{
                    opacity: 0.5;
                }
            }

            .contentGenre {
                padding: 0px 45px 90px 45px;
                max-height: 563px;
                overflow-y: scroll;
                scrollbar-width: none;
                 @include breakpoint(laptop){padding: 0 35px 40px 35px;}

            }
        }
    }
