@import "variables.scss";

.payment_success_containerparent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://d2ivesio5kogrp.cloudfront.net/static/watcho/images/Payment_TVBG.png);
  background-size: cover; 
  .payment_success_container {
    width: 700px;
    padding: 60px;
    background: linear-gradient(135deg, #0a398d, #691539);

    @include breakpoint(mobile) {
      width: 85%;
      padding: 40px 20px;
      margin: 0 20px;
    }

    .payment_success_inner {
      text-align: center;
      margin: 0 auto;

      img {
        width: 90px;
        height: 90px;
        cursor: pointer;

        @include breakpoint(laptop) {
          width: 70px;
        }

        @include breakpoint(mobile) {
          width: 65px;
        }
      }

      .message1 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $white-color;

        @include breakpoint(mac) {
          font-size: 22px;
          margin-bottom: 15px;
        }

        @include breakpoint(laptop) {
          font-size: 20px;
        }

        @include breakpoint(mobile-common-land) {
          font-size: 18px;
        }
      }

      .message2 {
        font-size: 20px;
        font-weight: 500;
        color: $white-color;

        @include breakpoint(laptop) {
          font-size: 18px;
        }

        @include breakpoint(tablet) {
          font-size: 15px;
        }

        @include breakpoint(mobile) {
          font-size: 14px;
        }

        .seriesname {
          font-weight: 700;
        }
      }

      .restmsgs {
        margin-top: 20px;
        color: $white-color;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .addspace{
          padding-top: 20px;
          
        @include breakpoint(mobile) {
          // padding-top: 10px;
        }
        }
        @include breakpoint(laptop) {
          font-size: 14px;
        }

        @include breakpoint(mobile) {
          font-size: 12px;
          row-gap: 0px;
        }
      }

      .btn_wrap {
        text-align: center;
        padding-top: 30px;

        .btn {
          line-height: 1.5;
          transition:
            color 0.15s ease-in-out,
            background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          border: 0;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          min-width: 130px;
          padding: 12px 19px;
          display: inline-block;
          position: relative;
          cursor: pointer;
          background-color: $primary-color;
          color: #fff;
          font-weight: 500;
          font-size: 16px;
          border-radius: 3px;

          @include breakpoint(mac) {
            padding: 12px 0;
          }

          @include breakpoint(laptop) {
            font-size: 14px;
          }

          @include breakpoint(mobile) {
            font-size: 12px;
          }

          &::after {
            content: ">";
            font-size: 16px;
            color: $white-color;
            position: relative;
            top: 1px;
            left: 8px;
          }
        }
      }
    }
  }
}


.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}