@import 'variables.scss';

.modal_size {
    min-height: calc(100% - (1.75rem * 2));
    max-width: 560px;
    margin: 0 auto;
    transform: translate(0);
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;

    @include breakpoint(mac) {
        width: 513px;
    }
    @include breakpoint(laptop){
        width: 460px;
    }
    .model_content {
        background: #1E1E1E;
        color: $grey-text-color;
        padding: 65px 40px 50px;
        display: block;
        position: relative;
        width: 100%;
        border-radius: 20px;
         
        @include breakpoint(mac) {
            padding: 32px 66px;
        }
        @include breakpoint(laptop){padding: 25px 60px;}
        @include breakpoint(mobile) {
            padding: 31px 15px 32px;
        }

        .content_inner {
            padding: 0;
        }
    }

    .popup_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .deleteTitle {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 32px;
            color: #FFFFFF;
            @include breakpoint(laptop){
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .profile_image {
            text-align: center;

            .profile_icon {
                width: 100px;
                height: 100px;
                border-radius: 8px;

                @include breakpoint(mac) {
                    width: 80px;
                    height: 80px;
                }
                @include breakpoint(laptop){
                    width: 70px;
                    height: 70px;
                }
            }

            .profile_name {
                color: #FFFFFF;
                display: block;
                margin-top: 0px;
                font-size: 16px;
                @include breakpoint(laptop){font-size: 14px;}
            }
        }
        .warningText{display: none;
        @include breakpoint(mobile){display: block;}
        }
        .popup_subTitle {
            color: #FFFFFF;
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            margin-top: 15px;
            @include breakpoint(laptop){font-size: 14px; margin-top: 10px;}
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 52px;
        flex-direction: column;

        @include breakpoint(mac) {
            margin-top: 32px;
        }

        @include breakpoint(laptop) {
            margin-top: 30px;
        }

        @include breakpoint(mobile) {
            margin-top: 0;
        }

        .continue_btn,
        .cancel {
            height: 54px;
            width: 100%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            @include breakpoint(mac) {
                font-size: 16px;
            }
            @include breakpoint(laptop){
                height: 42px;
                font-size: 14px;
            }
        }

        .cancel {
            margin-top: 12px;
            background: none;
            color: #fff;
            font-weight: 500;
        }

    }
    @include breakpoint(mobile){display: none;}
}

.dishDeleteProfile{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    @include breakpoint(mobile){position: unset;}
    .popup_body{
        display: flex;
        align-items: center;
        flex-direction: column;
        // margin-top: 16px;
        .deleteTitle{
            @include breakpoint(mobile){display: none;}
        }
        .profile_image{
            @include breakpoint(mobile){display: flex; flex-direction: column; align-items: center;}
         img{width: 80px; height: 80px;}
         .profile_name{text-align: center; font-size: 16px; margin-top: 8px;} 
        }
        .warningText{
            font-size: 16px; font-weight: 600; text-align: center; max-width: 245px; margin-top: 16px;
        }
        .popup_subTitle{font-size: 14px; text-align: center; font-weight: 400; margin: 16px 0; max-width: 290px; color: #c5c5c5;}
      
    }
      .btn{width: 100%; display: flex; flex-direction: column; gap: 12px;
         button{
            max-width: 328px; width: 100%; height: 42px; border-radius: 8px; margin: 0 auto;
            background: none; border: none; outline: none; color: #fff; font-size: 14px; font-weight: 600;
            @include breakpoint(mobile){max-width: 100%;}
         } 

        }
}