@import 'variables.scss';

.dropdown {
  // position: absolute;
  display: block;
  z-index: 2;
  .dropbtn {
    color: white;
    /* padding: 16px; */
    font-size: 13px;
    border: none;
    cursor: pointer;
    /* margin: 16px 0 8px 0; */
    /* border: solid 1px #52525c; */
    background: none;
    border-radius: 4px 0 0 4px;
    height: 28px;
    line-height: 28px;
    /* padding: 0 10px; */
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: auto;
    min-width: 70px;
    max-width: 120px;
    padding: 0 12px 0 0;
    
    @include breakpoint(mac){
      min-width: 65px;
      max-width: 105px;
      // padding: 0 6px;
    }
    @include breakpoint(laptop){
      min-width: 60px;
      max-width: 100px;
      // padding: 0 6px;
    }
    @include breakpoint(mobile){
      min-width: 55px;
      max-width: 85px;
      padding: 0 7px 0 0;
    }
    
    img{ 
      width:15px; 
      margin-right:7px;
      flex-shrink: 0;
      @include breakpoint(mobile){
        width: 15px; 
        height: 15px; 
        border-radius: 2px; 
        margin-right: 6px;
      }
    }
    
    span{ 
      opacity: 1;
      white-space: nowrap;
     
    }
    
    .down_arrow {
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #e7e7e7;
      content:"";
      display: block;
      margin-left: 5px;
      flex-shrink: 0;
    }
    
    .arrow_down{ 
      width: 12px; 
      margin: 0 0 0 7px;
      flex-shrink: 0;
      @include breakpoint(mobile){margin: 0 0 0 4px;}
    }
    
    .pipe_symbol::before{
      content: "|";
      display: inline-block;
      color: #909090;
      margin-left: 6px;
      font-size: 18px;
      flex-shrink: 0;
      @include breakpoint(mobile){
        display: none;
      }
    }
  }
}




.dropdown_content {
  display: none;
  position: absolute;
  background-color: $country-dropdown-bg;
  min-width: 470px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:70px;
  left:2px;
  padding:20px 10px;
  @include breakpoint(widescreen){min-width: 380px; top: 55px;}
  @include breakpoint(mac){ min-width:380px;}
  @include breakpoint(laptop){ min-width:330px;}
  // @include breakpoint(tablet){ min-width:390px;}
  // @include breakpoint(desktop-small){min-width: 290px;}
  @include breakpoint(mobile){ min-width:410px; left: 0px;}
  @include breakpoint(mobile-common-land){ min-width:calc(100vw - 30px); }
  
  input{ 
    width:calc(100% - 40px); 
    padding:14.5px 50px 14.5px 14px !important; 
    color:#fff !important; 
    font-size:16px; 
    border:solid 1px #666; 
    outline: none; 
    margin:0px 0 10px 0px; 
    border-radius: 4px; 
    opacity: 1 !important;
    background: rgba(255,255,255, 0.08) !important;
   
    transition: border-color 0.3s ease;
    
    &:focus {
      border-color: #999;
    }
    
    &::placeholder {
      color: #999;
      opacity: 0.7;
    }
    
    @include breakpoint(mobile){
      width: 100%;
      padding: 14.5px 14px !important;
    }
  }
  
  .clear{ 
    cursor: pointer; 
    display: block; 
    position: absolute;
    right: 42px; 
    top: 36px;
    color: #999;
    font-size: 18px;
    line-height: 1;
    
    &:hover {
      color: #fff;
    }
    
    @include breakpoint(mobile){
      right: 25px; 
      top: 34px;
    }
  }
  
  .countries_list{ 
    cursor: pointer;
    max-height: 169px; 
    overflow: auto;
    
    @include breakpoint(mobile){ 
      min-height:210px;
    }
    
    div{ 
      padding:14px 20px; 
      display: flex; 
      align-items: center;
      transition: background-color 0.2s ease;
      
      &:hover{ 
        background: $country-dropdown-hover;
      }
    }
    
    img{ 
      margin-right:10px; 
      position: relative; 
      top:3px;
      width: 20px;
      height: 15px;
      object-fit: cover;
      border-radius: 2px;
    }
    
    span{ 
      color:#fff; 
      font-size: 14px; 
      opacity: 0.7;
      
      &:hover {
        opacity: 1;
      }
    }
    
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #444;
      border-radius: 5px;
      opacity: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #1a1a1a;
      border-radius: 5px;
    }
  }
}

.dropdown_content div {
  color: black;
  padding: 4px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.country_name{
  &:after{
    content: "";
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top: -2px;
  }
}

.show {
  display: block;
}