@import 'variables.scss';

.container {
  background-color: transparent;

  .SelectContent {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 16px;
    @include breakpoint(laptop){font-size: 18px;}
    // @include breakpoint(mobile){margin-top: 5px;}
  }

  form {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include breakpoint(mobile) {
      gap: 40px;
    }
    svg{
      @include breakpoint(laptop){left: 10px !important;}
    }
    .verticalDashedLine {
      position: absolute;
      left: 13px;
      top: 0;
      height: 100%;
      border-right: 2px dashed #FFFFFF99;
    }

    .arrContainer {
      display: flex;
      gap: 20px;
      @include breakpoint(mobile){align-items: center;}
      .customCheckbox {
        width: 28px;
        height: 28px;
        background-color: #2D2B2B;
        border-radius: 4px;
        border: 1px solid #FFFFFF99;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s ease;
        @include breakpoint(laptop){width: 24px; height: 24px;}
        @include breakpoint(mobile){width: 20px; height: 20px;}
        &::after {
          content: "";
          position: absolute;
          left: 10px;
          top: 4px;
          width: 6px;
          height: 12px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          opacity: 0;
          transition: opacity 0.2s ease;
          @include breakpoint(laptop){height: 10px; width: 4px; left: 9px;}
          @include breakpoint(mobile){height: 9px; width: 3px; top: 3px; left:7px;}
        }
        &.cursorNone{
          cursor: default;
        }
      }

      .checked {
        background-color: #D13066;
        border: 1px solid transparent;

        &::after {
          opacity: 1;
        }
      }

      .description {
        .head {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #FFFFFF99;
          @include breakpoint(laptop){font-size: 14px;}
        }

        .desc {
          font-weight: 400;
          margin-top: 10px;
          font-size: 14px;
          line-height: 120%;
          color: #FFFFFF99;
          @include breakpoint(laptop){font-size: 12px;}
        }
        &.active{
          .head{color: #ffffff;}
          // .desc{color: #ffffff;}
        }
        &.cursorNone{
          cursor: default;
        }
        &.cursorPointer{
          cursor: pointer;
        }
      }
    }
  }

  .saveBtn {
    width: 212px;
    height: 54px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D13066;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin-top: 30px;

    @include breakpoint(mobile) {
      display: none;
    }
  }
}
