@import 'variables.scss';

.blurContainer {
    position: absolute;
    top: 0px;
    background-color: #000000B2;
    height: 100vh;
    width: 100%;
    min-height: 30vh;
    z-index: 1;
}

.mainContainer {
    position: absolute;
    bottom: 0px;
    height: 66vh;
    max-height: 70vh;
    // min-height: 600px;
    // overflow-y: scroll;
    background-color: #1E1E1E;
    scrollbar-width: none;
    padding: 0px 16px 70px 16px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 2;
    &.delete{
        padding: 0px 16px;
        height: 390px;
    }
    .stroke {
        height: 38px;
        width: 100%;
        // background-color: red;
        // margin-bottom: 25px;
        display: flex;
        align-items: center;
        span {
            width: 94px;
            height: 4px;
            background-color: #FFFFFF33;
            margin: auto;
            display: block;
        }
    }

    .content {
        height: calc(100% - 38px);
        max-height: calc(100% - 38px);
        overflow-y: scroll;
        scrollbar-width: none;
    }
    &.city{
        height: 62vh;
        .content{
            @include breakpoint(mobile){
                overflow: hidden;
            }
        }
    }
    &.rating{
        height: 66vh;
    }
}

.saveBtn {
    height: 65px;
    background-color: #2D2B2B;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    z-index: 3;
    button {
        background-color: #D13066;
        width: 100%;
        height: 42px;
        color: #fff;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-transform: capitalize;
        letter-spacing: 0cap;
    }
}
.disable{
    opacity: 0.5;
}